<div class="card">
  <div align="center">
    <%= link_to show_message_folder_path folder do %>
      <%= unseen = folder.unseen_folder_messages current_user; "+#{unseen}" unless unseen.zero? %>
      <% for member in folder.members; next if member.user.eql? current_user %>
        <%= member.user.name %><%= unless member.eql? folder.members.last \
          then ", " else ": " end %>
      <% end %>
      <%= folder.messages.last.body.last(20) + "..." %>
    <% end %>
  </div>
</div>
