<div class="card">
  <%= render "app/time_ago", item: (folder.messages.present? ? folder.messages.last : folder) %>
  <div class="folder_card_link" align="center">
    <%= link_to show_message_folder_path folder do %>
      <%= unseen = folder.unseen_messages current_user; "+#{unseen}" unless unseen.zero? %>
      <% for member in folder.members; next if member.user.eql? current_user %>
        <%= member.user.name %><%= if member.eql? folder.members.last or \
          folder.members.last.user.eql? current_user then ": " else ", " end %>
      <% end %>
      <% if folder.messages.present? %>
        <% last_message = folder.messages.last %>
        <%= (last_message.sender_token.present? ? decrypt_message(last_message) : last_message.body).last(20) + "..." %>
      <% else %>
        nothingness...
      <% end %>
    <% end %>
  </div>
</div>
