<div class="card">
  <%= render "app/time_ago", item: folder.messages.last %>
  <div align="center">
    <%= link_to show_message_folder_path folder do %>
      <%= unseen = folder.unseen_messages current_user; "+#{unseen}" unless unseen.zero? %>
      <% for member in folder.members; next if member.user.eql? current_user %>
        <%= member.user.name %><%= if member.eql? folder.members.last or \
          folder.members.last.eql? current_user then ": " else ", " end %>
      <% end %>
      <%= folder.messages.last.body.last(20) + "..." %>
    <% end %>
  </div>
</div>
