<div class="dark_card" id="new_message_form">
	<div align="center">
		<%= form_for @new_message, url: messages_path, method: :post, remote: true do |f| %>
			<%= hidden_field_tag :folder_id, @folder.id if @folder %>
			<%= hidden_field_tag :group_id, @group.id if @group %>
			<table>
				<tr>
					<td>
						<%= f.text_area :body, placeholder: "Send a message...", class: "standard_text_area dark_text_area" %>
					</td>
					<td>
					  <div class="message_button_container">
				      <button type="submit" name="commit">
				        <i class="fa fa-send"></i>
				      </button>
				    </div>
				    <div>
						  <%= link_to add_message_image_path, remote: true do %>
							  <i class="fa fa-picture-o dark_link"></i>
						  <% end %>
						</div>
					</td>
				</tr>
			</table>
			<div id="hidden_file_field" hidden><%= f.file_field :image %></div>
		<% end %>
	</div>
</div>
