<script>
  <%= render "messages/check_folder_messages.js" %>
</script>

<%= render "messages/folder_card", folder: @folder %>

<div id="messages_container">
  <% for message in @messages %>
	  <%= render "messages/bubble", message: message %>
  <% end %>
</div>

<div id="instant_messages_anchor"></div>

<div id="last_message_views_anchor"></div>

<%= render "messages/seen", message: @messages.last if @messages.present? %>

<div id="message_form_anchor"></div>

<%= render "messages/form" %>

<%= audio_tag "effects/bip.mp3", id: "post_interface_sound" %>
<%= audio_tag "interface/interface_9.mp3", id: "audio_play" %>
<%= audio_tag "effects/typewriter.wav", id: "typewriter_audio" %>
