<script>
  <%= render "messages/check_folder_messages.js" %>
</script>

<%= render "messages/folder_card", folder: @folder %>

<% for message in @messages %>
	<%= render "messages/bubble", message: message %>
<% end %>

<div id="instant_messages_anchor"></div>

<div id="last_message_views_anchor"></div>

<%= render "messages/seen", message: @messages.last %>

<div id="message_form_anchor"></div>

<%= render "messages/form" %>
