<div class="card">
  <%= render "groups/avatar_card_link", group: connection.group \
    if connection.group and connection.invite %>
    
  <%= render "users/avatar_card_link", user: connection.user, token: connection.anon_token \
    if connection.user and (connection.request or !connection.request) %>
  
  <div align="center">
    <p class="invite_message">
      <%= link_to connection.user.name, connection.user %>
      <%= " has been invited to join #{connection.group.name}." if connection.invite %>
      <%= " has requested to join." if connection.request %>
    </p>
    
    <% if connection.invite or connection.request %>
      <%= link_to "Accept", connection, method: :put %>
      <%= " | " %>
      <%= link_to "Deny", connection, method: :delete %>
    <% elsif connection.group %>
      Member since <%= connection.updated_at.to_date %>
    <% end %>
  </div>
</div>
