<%= form_tag generate_invite_path, method: :post do %>
  <% if dev? %>
    <p>
      Check level of power to be granted:
    </p>
    <p>
      foc <%= check_box_tag :forrest_only %>
      dev <%= check_box_tag :grant_dev_access %>
      mod <%= check_box_tag :grant_mod_access %>
      gk <%= check_box_tag :grant_gk_access %>
    </p>
  <% end %>
  <p title="Makes in-person invitations easier. So they can go through the backdoor, no link required.">
    Enter a password for one time use (optional):
  </p>
  <p>
    <%= text_field_tag :password, nil, placeholder: "Enter password here..." %>
  </p>
  <p>
    <button type="submit" name="commit" id="generate_invite_button">
      <b>Generate invitation to site <i class="fa fa-user-plus"></i></b>
    </button>
  </p>
<% end %>
