<%= form_tag generate_portal_path, method: :post do %>
  <%= hidden_field_tag :from_portal_index, true if @portals_index %>
  <p>
    <%= select_tag :remaining_uses, options_for_select(portal_size) %>
  </p>
  <p>
    <%= select_tag :remaining_days, options_for_select(portal_life_durations) %>
  </p>
  <% if dev? and not raleigh_dsa? %>
    <p>
      <%= select_tag :cluster_size, options_for_select(portal_cluster_size) %>
    </p>
  <% end %>
  <% if raleigh_dsa? and admin? or dev? %>
    <p>
      <b>Access to be granted:</b>
        <% if admin? or dev? %>
          admin <%= check_box_tag :grant_admin_access %>
        <% end %>
        <% if dev? %>
          dev <%= check_box_tag :grant_dev_access %>
        <% end %>
    </p>
  <% end %>

  <p>
    <button type="submit" name="commit" class="surveys_form_button">
      <b>Generate portal to site <i class="fa fa-opera"></i></b>
    </button>
  </p>
<% end %>
