<script>
  <%= render "app/fader.js", target: "invite_only_header", target_id: "" %>
  <%= render "app/fader.js", target: "invite_only_txt", target_id: "" %>
  <%= render "app/fader.js", target: "foc_message", target_id: "" %>
</script>

<% if forrest_only_club? %>
  <div class="dark_card top_spacer" align="center">
    <h2 class="user_title" id="invite_only_header">
      Forrest Only Club
    </h2>
  </div>
  
  <div class="dark_card">
    <%= image_tag "favicons/foc.ico", class: :standard_image %>
  </div>
  
  <div class="dark_card" align="center">
    <p id="foc_message">
      Forrest Only Club is a social networking site for people with the name Forrest, whether it's your first, middle, or last name. This website is for Forrests only.
    </p>
  </div>

  <%= render "sessions/form" %>
<% else %>
  <h2 id="invite_only_header" class="invite_only_header">
    Social Maya
  </h2>
  
  <div class="dark_card" align="center">
    <p id="invite_only_txt" class="justified_body_text">
      You've stumbled across a small village in cyberspace... Social Maya is a social network for artists and philosophers. You have to find a portal to join the social network but feel free to leave a way to get in touch with you below if you'd really like to join. Post something cool, whether it be art, memes, or quotes.
    </p>
  </div>

  <%= render "sessions/form" %>

  <div class="dark_card">
    <p class="justified_body_text" align="center">
      Haven't found a portal yet? Try <%= link_to "Anrcho.com", proposals_path, id: :anrcho_link_text, title: "Anrcho - Model of Consensus/Voting Platform" %> in the meantime and help <b>get your community organized</b>, with software specifically designed to <b>gauge and build consensus</b>. Use <%= link_to "Anrcho.com", proposals_path, id: :anrcho_link_text_1, title: "Anrcho - Model of Consensus/Voting Platform" %> to help people <b>organize through consensus</b>, on a peer to peer basis, and with minimal hierarchy.
    </p>
    <%= image_tag "banner.gif", class: :standard_post_image %>
  </div>
  
  <div class="dark_card" align="center">
    <p>
      You can still post to the site before you've found a portal. So feel free to post something anonymous below...
    </p>
  </div>
  
  <div class="dark_card">
    <%= render "posts/form" %>
  </div>
  
  <% for post in @posts %>
    <%= render "posts/card", post: post %>
  <% end %>

  <script>
    <%= render "app/fader.js", target: "anrcho_link_text", target_id: "" %>
    <%= render "app/fader.js", target: "anrcho_link_text_1", target_id: "" %>
  </script>
<% end %>
