<script>
  <%= render "app/fader.js", target: "invite_only_header", target_id: "" %>
  <%= render "app/fader.js", target: "invite_only_txt", target_id: "" %>
</script>

<h2 id="invite_only_header">
  Social Maya
</h2>

<div class="dark_card" align="center">
  <p id="invite_only_txt">
    You've stumbled across a small village in cyberspace and the gates are closed! Unless of course you know the password.
  </p>
</div>

<%= render "sessions/form" %>

<div class="dark_card">
  <p class="justified_body_text" align="center">
    Haven't been invited yet? Try <%= link_to "Anrcho.com", proposals_path, id: :anrcho_link_text, title: "Anrcho - Model of Consensus/Voting Platform" %> instead and help <b>get your community organized</b>, with software specifically designed to <b>gauge and build consensus</b>. Use <%= link_to "Anrcho.com", proposals_path, id: :anrcho_link_text_1, title: "Anrcho - Model of Consensus/Voting Platform" %> to help people <b>organize through consensus</b>, on a peer to peer basis, and with minimal hierarchy.
  </p>
  <%= image_tag "banner.gif", class: :standard_post_image %>
</div>

<script>
  <%= render "app/fader.js", target: "anrcho_link_text", target_id: "" %>
  <%= render "app/fader.js", target: "anrcho_link_text_1", target_id: "" %>
</script>
