<% if raleigh_dsa? %>
  <%= render 'portals/dsa_invite_only_message' %>
<% else %>
  <script>
    <%= render "app/fader.js", target: "invite_only_header", target_id: "" %>
    <%= render "app/fader.js", target: "invite_only_txt", target_id: "" %>
    <%= render "app/fader.js", target: "invite_only_link", target_id: "" %>
  </script>

  <h2 id="invite_only_header" class="invite_only_header top_spacer">
    Social Maya
  </h2>

  <div class="dark_card" align="center">
    <p class="justified_body_text" id="invite_only_txt">
      Welcome to Social Maya, a free and open source social network and intentional digital community for artists and philosophers. If you haven't been invited yet, enjoy the interactive art located
      <%= link_to "here", my_apps_path, class: :white_link, id: :invite_only_link %>.
    </p>
  </div>

  <%= render "sessions/form" %>

  <%= render "pages/load_bar", items: [], all_items: [] %>
<% end %>
