<script>
  <%= render "app/fader.js", target: "invite_only_header", target_id: "" %>
  <%= render "app/fader.js", target: "invite_only_txt", target_id: "" %>
  <%= render "app/fader.js", target: "foc_message", target_id: "" %>
</script>

<% if forrest_only_club? %>
  <div class="dark_card top_spacer" align="center">
    <h2 class="user_title" id="invite_only_header">
      Forrest Only Club
    </h2>
  </div>
  
  <div class="dark_card">
    <%= image_tag "favicons/foc.ico", class: :standard_image %>
  </div>
  
  <div class="dark_card" align="center">
    <p id="foc_message">
      Forrest Only Club is a social networking site for people with the name Forrest, whether it's your first, middle, or last name. This website is for Forrests only.
    </p>
  </div>

  <%= render "sessions/form" %>
<% else %>
  <h2 id="invite_only_header" class="invite_only_header">
    Social Maya
  </h2>
  
  <div class="dark_card" align="center">
    <p id="invite_only_txt">
      You've stumbled across a small village...
    </p>
  </div>
  
  <%= render "portals/redeem_form" %>

  <%= render "sessions/form" %>
  
  <div class="dark_card" align="center" style="background:black;">
    <%= render "pages/load_band", items: [], all_items: [] %>
    <p>
      <%= render "pages/load_wheel" %>
    </p>
  </div>
<% end %>
