<div class="card">
  <% if my_groups.present? %>
    <%= form_for(@connection) do |f| %>
      <%= hidden_field_tag :user_id, @user.id %>
      <div align="center">
        <p>
          Invite <%= @user.name %> to one of your groups
        </p>
      
        <p><%= select_tag :group_id, options_for_select(group_invite_options) %></p>
	
        <button type="submit" name="commit" class="standard_form_button">
          <b>Invite <i class="fa fa-envelope"></i></b>
        </button>
      </div>
    <% end %>
  <% elsif @user %>
    <p align="center">
      You aren't in any groups to invite <%= @user.name %> to.
    </p>
  <% end %>
</div>
