<div class="card">
  <% if @user %>
    <% if my_groups.present? %>
      <%= form_for(@connection) do |f| %>
        <%= hidden_field_tag :user_id, @user.id %>
        <div align="center">
          <p>
            Invite <%= link_to @user.name, @user %> to a group
          </p>
        
          <p><%= select_tag :group_id, options_for_select(my_group_options) %></p>
	
          <button type="submit" name="commit" class="standard_form_button">
            <b>Invite <i class="fa fa-cube"></i></b>
          </button>
        </div>
      <% end %>
    <% else %>
      <p align="center">
        You aren't in any groups to invite <%= link_to @user.name, @user %> to.
      </p>
    <% end %>
  <% elsif @group %>
    <% if following_options.present? %>
      <%= form_for(@connection) do |f| %>
        <%= hidden_field_tag :group_id, @group.id %>
        <div align="center">
          <p>
            Invite someone to <%= link_to @group.name, @group %>
          </p>
        
          <p><%= select_tag :user_id, options_for_select(following_options) %></p>
          
          <button type="submit" name="commit" class="standard_form_button">
            <b>Invite <i class="fa fa-cube"></i></b>
          </button>
        </div>
      <% end %>
    <% else %>
      <p align="center">
        You aren't following anyone to invite to <%= link_to @group.name, @group %>.
      </p>
    <% end %>
  <% end %>
</div>
