<% unless current_user %>
  <script>
    <%= render "app/fader.js", target: "login_field_1", target_id: "" %>
    <%= render "app/fader.js", target: "login_field_2", target_id: "" %>
    
    <%= render "app/fader.js", target: "remember_me_check_box", target_id: "" %>
  </script>
  
  <div class="dark_card">
	  <%= link_to "Haven't signed up yet?", new_user_path, class: "top_right_link white_link" if invited? %>
	  
	  <%= form_tag sessions_path do %>
	    <% if forrest_only_club? %>
	      <%= hidden_field_tag :forrest_only, true %>
	    <% end %>
	    <div align="center">
	      <p>
		      <%= text_field_tag :login, nil, placeholder: "Username", class: :dark_text_field, id: :login_field_1 %>
		      <%= password_field_tag :password, nil, placeholder: "Passphrase", class: :dark_text_field, id: :login_field_2 %>
		    </p>
		    <p>
          <button type="submit" name="commit" class="dark_form_button">
            <b>Log in <i class="fa fa-pencil"></i></b>
          </button>
        </p>
		  </div>
		  
		  <%= image_tag "fire.gif", class: :fire_gif %>
		  
		  <div id="remember_me_check_box">
			  Remember me <%= check_box_tag :remember_me, 1, params[:remember_me] %>
		  </div>
	  <% end %>
	</div>
<% end %>
