<div class="card" id="note_card_<%= note.id %>">
  <%= render "app/time_ago", item: note %>
  <p align="center">
    <% message = namify_note_message(note); case note.action.to_sym %>
    <% when :post_comment, :also_commented, :post_like, :post_share %>
      <% post = Post.find_by_id note.item_id %>
      <% if post %>
        <%= link_to message, show_post_path(Post.find_by_id(note.item_id).unique_token) %>
      <% else %>
        <%= message %> Content no longer available.
      <% end %>
    <% when :comment_like, :comment_reply %>
      <%= link_to message, comment_path(note.item_id) %>
    <% when :group_invite %>
      <%= link_to message, invites_path(note.user) %>
    <% when :group_request %>
      <%= link_to message, requests_path(note.item_id) %>
    <% when :group_request_accepted %>
      <%= link_to message, group_path(note.item_id) %>
    <% when :user_follow %>
      <%= link_to message, followers_path(note.user) %>
    <% when :message_received %>
      <%= link_to message, show_message_folder_path(note.item_id) %>
    <% when :hype_received %>
      <%= link_to message, show_treasure_path(token: note.item_token) %>
    <!-- Proposal notifications -->      
    <% when :ratified, :proposal_up_voted, :proposal_revised, :proposal_comment %>
      <%= link_to note.message, show_proposal_path(note.item_token) %>
    <% when :proposal_blocked, :revision_submitted %>
      <%= link_to note.message, show_proposal_path(token: note.item_token, revisions: true) %>
    <% end %>
  </p>
</div>
