<div class="card" id="note_card_<%= note.id %>" align="center">
  <%= render "app/time_ago", item: note %>
  <p>
    <% message = namify_note_message(note); action = note.action.to_sym; case action %>
    <% when :post_comment, :also_commented, :post_like, :post_whoa, :post_love, :post_zen, :post_share %>
      <% post = Post.find_by_id note.item_id %>
      <% if post %>
        <%= link_to message, show_post_path(post.unique_token) %>
        <% if action.eql? :post_like %>
          <% like = if note.sender_id then post._likes.find_by_user_id(note.sender_id) \
            else post._likes.find_by_anon_token(note.sender_token) end %>
          <% if like %>
            <span id="like_like_link_anchor_<%= like.id %>"></span>
            <%= render "likes/link", item: like, bottom_left: true %>
          <% end %>
        <% end %>
      <% else %>
        <%= message %> Content no longer available.
      <% end %>
    <% when :comment_like, :comment_reply %>
      <%= link_to message, comment_path(note.item_id) %>
    <% when :user_like %>
      <%= link_to message, user_path(item.item_id) %>
    <% when :like_like %>
      <% post = Like.find(note.item_id).post if Like.find_by_id note.item_id %>
      <% like = get_like_like note %>
      
      <% if post %>
        <%= link_to message, show_post_path(post.unique_token) %>
      <% elsif like %>
        <% post = get_like_liked_post like %>
        <%= link_to message, show_post_path(post.unique_token) if post %>
      <% end %>
          
      <span id="like_like_link_anchor_<%= like.id %>"></span>
      <%= render "likes/link", item: like, bottom_left: true %>
    <% when :group_invite %>
      <%= link_to message, invites_path(note.user) %>
    <% when :group_request %>
      <%= link_to message, requests_path(note.item_id) %>
    <% when :group_request_accepted %>
      <%= link_to message, group_path(note.item_id) %>
    <% when :user_follow %>
      <%= link_to message, followers_path(note.user) %>
    <% when :message_received %>
      <%= link_to message, show_message_folder_path(note.item_id) %>
    <% when :hype_received %>
      <%= link_to message, show_treasure_path(token: note.item_token) %>
    <!-- Proposal notifications -->      
    <% when :ratified, :proposal_up_voted, :proposal_down_voted, :proposal_revised, :proposal_comment, :proposal_like %>
      <%= link_to note.message, show_proposal_path(note.item_token) if note.item_token %>
    <% when :proposal_blocked, :revision_submitted %>
      <%= link_to note.message, show_proposal_path(token: note.item_token, revisions: true) %>
    <% when :vote_verified, :vote_like, :vote_comment, :vote_reversed %>
      <%= link_to note.message, show_vote_path(token: note.item_token) %>
    <% end %>
  </p>
  <% if action.eql? :post_like or action.eql? :like_like or action.eql? :user_like %>
    <%= link_to "https://www.youtube.com/watch?v=rQnYi3z56RE" do %>
      <%= image_tag "nooice.gif", class: :nooice_img %>
    <% end %>
  <% end %>
</div>
