<% @dark = defined?(dark); link_class = ""; \
link_class << "dark_link #{defined?(dropdown) ? 'notes_dropdown_message' : ''}" if @dark; \
link_class << " unseen_note_message" if @dark and not note.seen %>

<% message = namify_note_message(note); \
action = note.action.to_sym; case action %>
<% when :post_comment, :also_commented, :post_like, :post_whoa, :post_love, :post_zen, :post_share, :post_views, :user_mention %>
  <% post = Post.find_by_id note.item_id %>
  <% if post %>
    <%= link_to message, show_post_path(post.unique_token), class: link_class %>
    <% if action.eql? :post_like %>
      <% like = if note.sender_id then post._likes.find_by_user_id(note.sender_id) \
        else post._likes.find_by_anon_token(note.sender_token) end %>
      <% if like and not @dark %>
        <span id="like_like_link_anchor_<%= like.id %>"></span>
        <%= render "likes/link", item: like, bottom_left: true %>
      <% end %>
    <% end %>
  <% else %>
    <%= message %> Content no longer available.
  <% end %>
<% when :comment_like, :comment_reply, :user_mention_comment %>
  <%= link_to message, comment_path(note.item_id), class: link_class %>
<% when :user_like, :profile_view %>
  <%= link_to message, user_path(note.item_id), class: link_class %>
<% when :like_like %>
  <% post = Like.find(note.item_id).post if Like.find_by_id note.item_id %>
  <% like = get_like_like note %>

  <% if post %>
    <%= link_to message, show_post_path(post.unique_token), class: link_class %>
  <% elsif like %>
    <% post = get_like_liked_post like %>
    <%= link_to message, show_post_path(post.unique_token), class: link_class if post %>
  <% end %>
  <% if like and not @dark %>
    <span id="like_like_link_anchor_<%= like.id %>"></span>
    <%= render "likes/link", item: like, bottom_left: true %>
  <% end %>
<% when :group_invite %>
  <%= link_to message, invites_path(note.user), class: link_class %>
<% when :group_request %>
  <%= link_to message, requests_path(note.item_id), class: link_class %>
<% when :group_request_accepted %>
  <%= link_to message, group_path(note.item_id), class: link_class %>
<% when :user_follow %>
  <%= link_to message, followers_path(note.user), class: link_class %>
<% when :message_received %>
  <%= link_to message, show_message_folder_path(note.item_id), class: link_class %>
<% when :hype_received, :hype_love_received %>
  <%= link_to message, show_treasure_path(token: note.item_token), class: link_class %>
<!-- Proposal notifications -->
<% when :ratified, :proposal_up_voted, :proposal_down_voted, :proposal_revised,
  :proposal_comment, :proposal_like, :user_mention_proposal %>
  <%= link_to message, show_proposal_path(note.item_token), class: link_class if note.item_token %>
<% when :proposal_blocked, :revision_submitted %>
  <%= link_to message, show_proposal_path(token: note.item_token, revisions: true), class: link_class %>
<% when :vote_verified, :vote_like, :vote_comment, :vote_reversed %>
  <%= link_to message, show_vote_path(token: note.item_token), class: link_class if note.item_token.present? %>
<!-- Game notifications -->
<% when :game_challenge, :your_turn_in_game %>
  <%= link_to message, show_game_path(token: note.item_token), class: link_class %>
<% end %>
