<%= link_to  clear_notes_path, method: :delete do %>
  <h2 class="standard_page_header">Notifications <i class="fa fa-bell-o"></i></h2>
<% end %>

<% for note in @notes %>
  <% unless note.seen %>
    <script>
      <%= render "app/fader.js", target: "note_card", target_id: note.id.to_s, background: true %>
    </script>
  <% end %>
  <div class="card" id="note_card_<%= note.id %>">
    <p align="center">
      <% case note.action.to_sym %>
      <% when :post_comment %>
        <%= link_to note.message, post_path(note.item_id) %>
      <% when :comment_reply %>
        <%= link_to note.message, comment_path(note.item_id) %>
      <% when :group_invite %>
        <%= link_to note.message, invites_path(note.user) %>
      <% when :group_request %>
        <%= link_to note.message, requests_path(note.item_id) %>
      <% when :user_follow %>
        <%= link_to note.message, followers_path(note.user) %>
      <% end %>
    </p>
  </div>
<% end %>

<% if @notes.empty? %>
  <div class="card">
    <p align="center">
      You have zero notifications.
    </p>
  </div>
<% end %>

<% currently_unseen_notes.update_all seen: true %>
