<div class="card">
  <%= render "users/avatar_card_link", user: comment.user, token: comment.anon_token %>
  
  <div align="center">
    <% if comment.body.present? %>
	    <p class="comment_body <%= justified_body comment %>">
        <%= render "app/body", item: comment %>
		  </p>
		<% end %>
  </div>
  
  <%= render "app/time_ago", item: comment %>
  <%= link_to "Edit", edit_comment_path(comment), class: :bottom_left_link %>
</div>
