<div class="card">
  <%= form_for((@replying ? @reply : @comment)) do |f| %>
    
    <%= hidden_field_tag :post_id, @post.id if @post %>
    <%= hidden_field_tag(:comment_id, @comment.id) if @replying %>
    
    <div align="center">
      <%= f.text_area :body, placeholder: "Leave a #{ @replying ? 'reply' : 'comment' }..." %>
      <p>
        <button type="submit" name="commit" class="standard_form_button">
          <b><%= @replying ? "Reply" : (@editing ? "Save" : "Comment") %> <i class="fa fa-pencil"></i></b>
        </button>
      </p>
    </div>
  <% end %>
</div>
