<!-- A reply is a comment on a comment and a comment is a comment on a post or any other object besides another comment -->

<div class="dark_card" id="comment_form_card">
  <%= render "app/random_pixels" %>
  <%= form_for((@replying ? @reply : @comment), remote: @post.present?) do |f| %>
    <%= hidden_field_tag :post_id, @post.id if @post %>
    <%= hidden_field_tag(:comment_id, @comment.id) if @replying %>
    
    <%= hidden_field_tag :proposal_id, @proposal.id if @proposal %>
    <%= hidden_field_tag :vote_id, @vote.id if @vote %>
    
    <div align="center">
      <%= f.text_area :body, placeholder: "Leave a #{ @replying ? 'reply' : 'comment' }...", class: :dark_text_area %>

		  <%= link_to add_comment_image_path, remote: true, id: :add_video_icon_link, title: "Attach an image" do %>
			  <i class="fa fa-picture-o fa-2x dark_link"></i>
		  <% end %>
		  <p id="hidden_file_field" hidden><%= f.file_field :image %></p>
      
      <p>
        <button type="submit" name="commit" class="dark_form_button">
          <b><%= @replying ? "Reply" : (@editing ? "Save" : "Comment") %> <i class="fa fa-pencil"></i></b>
        </button>
      </p>
    </div>
  <% end %>
</div>
