<div class="card">
  <%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= hidden_field_tag :post_id, @post.id if @post %>
    
    <div align="center">
      <%= f.text_area :body, placeholder: "Leave a comment..." %>
      <p>
        <button type="submit" name="commit" class="standard_form_button">
          <b>Comment <i class="fa fa-pencil"></i></b>
        </button>
      </p>
    </div>
  <% end %>
</div>
