<div class="mini_comment_card">
  <%= render "users/mini_avatar", item: comment %>

  <span class="mini_comment_body">
    <%= render "app/body", item: comment %>
  </span>

  <% if comment.image.url %>
    <% unless @comment_shown %>
      <%= link_to comment do %>
        <%= image_tag comment.image, class: :mini_comment_image %>
      <% end %>
    <% else %>
      <%= image_tag comment.image, class: :mini_comment_image %>
    <% end %>
  <% end %>
</div>
