<div class="mini_comment_form" id="mini_comment_form_<%= @post.id %>">
  <%= form_for(@comment, remote: true) do |f| %>
    <%= hidden_field_tag :post_id, @post.id if @post %>
    <%= hidden_field_tag :ajax_req, true %>
    <%= f.text_field :body, placeholder: "Leave a comment...", class: "mini_form_field" %>
    <button type="submit" name="commit">
      <i class="fa fa-comment"></i>
    </button>
  <% end %>
</div>
