<% if @comment.comment.present? %>
  <%= render "app/lineage", line: { comment: @comment.comment, reply: @comment } %>
<% elsif @comment.post.present? %>
  <%= render "app/lineage", line: { group: @comment.post.group, post: @comment.post, comment: @comment } %>
<% end %>

<%= render 'form' %>

<div class="card">
  <p align="center">
    <%= link_to 'Show', @comment %> |
    <%= link_to 'Back', comments_path %> |
    <%= link_to 'Delete', @comment, method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
</div>
