<div id="search_dropdown" class="search_dropdown" align="center" hidden>
  <% placeholder = (session[:query] ? "Last query: #{session[:query]}" : "Search") %>

  <div class="search_form_bubble">
    <%= form_tag dropdown_search_path, method: :get, remote: true, id: :search_dropdown_form do |f| %>
  	  <%= text_field_tag :query, nil, placeholder: placeholder,
        id: :search_form_text_field, class: :search_form_text_field %>

      <button type="submit" name="commit">
        <i class="fa fa-search"></i>
      </button>
    <% end %>

    <div class="search_ellipsis" hidden>
      <div class="search_ellipsis_inner dark_link" id="search_ellipsis">
        Loading<%= render 'app/ellipsis' %>
      </div>
    </div>

    <script>
      var form = $("#search_dropdown_form");
      var ellipsis = $(".search_ellipsis");
      form.submit(function(event) {
        /* Act on the event */
        ellipsis.fadeIn();
        window.navigator.vibrate(1);
        $("#post_interface_sound")[0].currentTime = 0;
        $("#post_interface_sound")[0].play();
      });
    </script>
  </div>

  <%= audio_tag "interface/interface_9.mp3", id: "search_interface_sound" %>
  <i id="search_results_anchor"></i>

  <% unless session[:query].present? %>
    <div id="search_results">
      <% featured_groups(:more).each do |group| %>
        <%= render "groups/card", group: group %>
      <% end %>
    </div>
  <% end %>
</div>
