<div id="search_results" class="search_results" <%= @search_index ? '' : 'hidden' %>>
  <% if @discover %>
    <script>
      <%= render "app/fader.js", target: 'discover_power_text', target_id: '' %>
    </script>
    <div class="dark_card" align="center">
      <p class="justified_body" id="discover_power_text">
        You've unlocked the Power of Discovery.
        You can now find hidden treasure all over the site.
      </p>
      <%= image_tag "discover_card.jpg", class: :standard_image %>
    </div>
  <% elsif @found_love %>
    <script>
      <%= render "app/fader.js", target: 'power_of_love_text', target_id: '', love: true, slow: true %>
    </script>
    <div class="dark_card" align="center">
      <p class="justified_body" id="power_of_love_text">
        You've unlocked the Power of Love.
      </p>
      <%= link_to "https://www.youtube.com/watch?v=3rzgrP7VA_Q" do %>
        <%= image_tag "what_is_love.gif", class: :standard_image %>
      <% end %>
    </div>
  <% elsif @results.empty? and @query.present? and not (@discover or @found_love) %>
    <div class="dark_card" align="center">
  	  <p class="justified_body_text">
  		  There aren't any items associated with this search. Whilst there may be items matched by query as well; items that are hidden (such as private groups or messages).
  	  </p>
    </div>
  <% end %>

  <% unless @results.empty? %>
    <div class="dark_card" align="center">
      Search found <% i=1; @result_types.each do |type, count| %>
        <%= "#{count} #{type.to_s}#{'s' if count > 1}#{', ' unless i.eql? @result_types.length}" \
          unless count.zero? %>
        <% i+=1 %>
      <% end %>
    </div>
  <% end %>

  <% for item in results %>
  	<% if item.present? and item.class.present? %>
  		<% _class = item.class.to_s.downcase %>
  		<!-- accounts for groups created from anrcho -->
  		<%= render "#{_class.pluralize}/#{(item.is_a? Group and item.anon_token.present?) ? 'anrcho_card' : 'card'}",
        _class.to_sym => item %>
  	<% end %>
  <% end %>
</div>
