<div class="image_border_main_container">

  <div class="image_border_top_container">
    <% 5.times do %>
      <%= image_tag "clients/lil_c.jpg", class: :lil_c_border_top_img %>
    <% end %>
  </div>
  
  <div class="image_border_middle_container">
  
    <div class="image_border_left_container">
      <% 7.times do %>
        <%= image_tag "clients/lil_c.jpg", class: :lil_c_border_side_img %>
      <% end %>
    </div>
    
    <%= render "templates/lil_c_sign_up_form" %>
    
    <div class="image_border_right_container">
      <% 7.times do %>
        <%= image_tag "clients/lil_c.jpg", class: :lil_c_border_side_img %>
      <% end %>
    </div>
  
  </div>


  <div class="image_border_bottom_container">
    <% 5.times do %>
      <%= image_tag "clients/lil_c.jpg", class: :lil_c_border_top_img %>
    <% end %>
  </div>

</div>

<div class="vertical_spacer"></div>
