  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <iframe src="https://calendar.google.com/calendar/embed?src=en.usa%23holiday%40group.v.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="row">
        <%= month_calendar do |date| %>
          <%= date %>
        <% end %>
      </div>
      <div class="row">
        <%= link_to "Google Auth", redirect_path %>
      </div>
      <div class="row">
        <ul>
          <% @calendar_list.items.each do |calendar| %>
            <li><%= calendar.summary %> (<%= link_to calendar.id, calendar_events_path(calendar.id) %>)</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
