</br>
<div class="dark_card" id="forrest_web_co_card">
  <h2 class="standard_page_header" id="forrest_web_co_header">
    Forrest Web Company <i class="fa fa-grav"></i>
  </h2>
</div>

<div class="template_card web_co_bio_card" align="left">
  <%= image_tag "forrest_web_co/html_code.jpg", class: :forrest_web_co_img %>
  <p>
    Need a professional website made with quick turnaround for your business, company, or idea that hasn't launched yet?
  </p>
  <p>
    All of my websites are built from scratch using the web development framework known as Ruby on Rails. So whether it's a simple, static landing page for your art or music, or something more complex (e.g. custom social networks or inventory management systems), you've come to the right place.
  </p>
  <p>
    My specialties include website design, hosting, mobile responsive websites, search engine optimization, and full scale content management systems.
  </p>
  <p>
    <%= link_to "mailto:forrestwilkinswebcompany@gmail.com", class: :"white_link web_co_email_link" do %>
     forrestwilkinswebcompany@gmail.com
    <% end %>
  </p>
  <p>
    <b>
      (919) 902-4365
    </b>
  </p>
</div>

<%= standard_dark_card(nil, :left) do %>
  <div class="fwc_sample_templates_container">
    <p>
      <b>Example starter templates:</b>
    </p>
    <p>
      <%= link_to "Sample Blog", sample_blog_path, class: :white_link %>
    </p>
    <p>
      <%= link_to "Semantic UI", semantic_ui_path, class: :white_link %>
    </p>
    <p>
      <%= link_to "Pure CSS", purecss_path, class: :white_link %>
    </p>
    <p>
      <%= link_to "UIkit", uikit_path, class: :white_link %>
    </p>
  </div>

  <div class="fwc_sample_templates_img_container">
    <% for i in ['fw', 'blog', 'fw_1'] %>
      <%= image_tag "forrest_web_co/#{i}.png", class: :fwc_sample_templates_img %>
    <% end %>
  </div>
<% end %>

<div class="fwc_sample_templates_img_cascade" hidden>
  <% for i in ['fw_1', 'fw', 'blog',] %>
    <%= standard_dark_card do %>
      <%= image_tag "forrest_web_co/#{i}.png", class: :standard_image %>
    <% end %>
  <% end %>
</div>

<script>
  var img_container = $(".fwc_sample_templates_img_container");
  img_container.click(function() {
    // small image container fades out of view for cascade of larger versions
    img_container.fadeOut(); $(".fwc_sample_templates_img_cascade").fadeIn();
  });
</script>

<% unless Rails.env.development? %>
  <%= standard_dark_card('stop_music_card') do %>
    <p>
      <%= link_to "Click here to stop the music...", 'javascript:;', class: :white_link, id: :stop_music_link %>
    </p>
  <% end %>

  <%= audio_tag "music/future_business.mp3", id: "business_music" %>

  <script>

    $("#business_music")[0].currentTime = 0;
    $("#business_music")[0].play();

    $("#stop_music_link").click(function() {
      $("#business_music")[0].pause();
      $("#business_music")[0].currentTime = 0;
      $("#stop_music_card").fadeOut();
    });
  </script>
<% end %>
