<div class="card">
  <%= render "groups/avatar_card_link", group: group %>
  
  <div align="center">
    <p>
      <%= link_to group.name, group %>
    </p>
    
    <% if group.body.present? %>
	    <p class="<%= 'justified_body_text' if group.body.size > 150 %>">
        <%= render "app/body", item: group %>
		  </p>
		<% end %>
		
    <% if @group_shown %>
      <p>
        <%= link_to 'Chat <i class="fa fa-comments"></i>'.html_safe, group_chat_path(group) %>
        <%= " | " %>
        <%= link_to ("Members#{' (' + group.members.size.to_s + ') ' unless group.members.size.zero?}" \
          + '<i class="fa fa-users"></i>').html_safe, members_path(group) %>
      </p>
    <% else %>
      <%= link_to "Members: #{group.members.size + 1}", members_path(group), class: :bottom_left_link %>
    <% end %>
  </div>
  
  <%= render "app/time_ago", item: group %>
  
  <% if group_auth group %>
    <%= link_to 'Edit', edit_group_path(group), class: :bottom_right_link %>
  <% elsif current_user %>
    <% if group.members.find_by_user_id current_user.id %>
      <%= link_to 'Leave', leave_group_path(group.id), method: :delete, class: :bottom_right_link %>
    <% elsif not group.requests.find_by_user_id current_user.id %>
      <%= link_to 'Request to join', request_to_join_path(group.id), method: :post, class: :bottom_right_link %>
    <% else %>
      <%= link_to 'Request pending', group, class: :bottom_right_link %>
    <% end %>
  <% end %>
</div>
