<div id="group_<%= group.id %>_card_links">
  <% if group_auth group %>
    <%= link_to 'Edit', edit_group_path(group), class: :bottom_right_link unless group.social_structure.eql? 'consensus' %>
  <% elsif current_user %>
    <% if group.members.find_by_user_id current_user.id %>
      <%= link_to 'Leave', leave_group_path(group.id), method: :delete, remote: true, class: :bottom_right_link %>
    <% elsif not group.requests.find_by_user_id current_user.id %>
      <%= link_to 'Request to join', request_to_join_path(group.id),
        method: :post, remote: true, class: :bottom_right_link %>
    <% else %>
      <%= link_to 'Request pending', group, class: :bottom_right_link %>
    <% end %>
  <% end %>
  <%= audio_tag "interface/interface_9.mp3", id: "user_interface_sound" %>
</div>
