<% unless anrcho? %>
  <!-- Shows Social Maya group -->
  <%= render "groups/card", group: @group %>

  <% if group_auth @group and @group.requests.present? %>
    <div class="card">
      <div align="center">
        <%= link_to "There are requests pending.", requests_path(@group) %>
      </div>
    </div>
  <% end %>

  <% if group_auth @group or group_member_auth @group %>
    <%= render "posts/form" %>
    <% for post in @items %>
      <%= render "posts/card", post: post %>
    <% end %>
  <% end %>

  <% if @items.empty? %>
    <div class="card">
      <p align="center">
        There aren't any posts yet.
      </p>
    </div>
  <% end %>
<% else %>
  <!-- Shows Anrcho group -->
  <% unless @expired %>
	  <%= render "groups/anrcho_card", group: @group %>
    <!-- allows user to switch between differen proposal categories -->
    <%= render "proposals/section_links" if @all_items.present? %>
    
    <div id="feed_container_anchor"></div>
    <%= render "proposals/feed_container", parents: "groups" %>
  <% else %>
	  <div class="card">
		  <p align="center"><%= if @is_a_token then "This group no longer exists." else "Invalid token." end %></p>
	  </div>
  <% end %>
<% end %>
