<% if defined?(user) and user.present? %>
  <% link_path = show_user_path(user.unique_token); token = user.unique_token; user = user %>
<% else %>
  <% link_path = search_path(query: token) %>
<% end %>

<% chars = token.slice(0..15).split("") %>
<% pattern = avatar_pattern chars %>
<% clean_token = token.gsub(/[^0-9a-z]/i, '') %>
<% unique_name = rand_string %>

<script>
  <%= render "users/avatar_pattern.js", pattern: pattern, token: clean_token, unique_name: unique_name %>
</script>

<%= link_to (raleigh_dsa? ? 'javascript:;' : link_path), title: (user.present? ? user.name : token),
  class: "#{defined?(position) ? position : nil}", id: "#{defined?(id) ? id : nil}" do %>
  <div class="avatar_container<%= defined?(inline) ? ' inline_avatar_container' : '' %>">
	  <% num = 0; for char in chars %>
		  <div class="avatar_pixel" id="avatar_pixel_<%= num.to_s + '_' + clean_token + '_' + unique_name %>"
		    style="background:rgb(<%= awesome_colors(char, chars)[:string] %>);"></div>
	  <% num += 1; end %>
  </div>
<% end %>
