<div class="card_corner_cut_out"></div>

<% if defined?(user) and user %>
  <% if user.image.url %>
    <%= link_to user_path(user), class: :user_avatar_link,
      title: "#{user.name}" + (last_locale(user).present? ? ", #{last_locale user}" : "") do %>
      <%= image_tag user.image, class: :user_avatar_image %>
    <% end %>
  <% elsif user %>
    <%= render "users/anon_avatar", user: user, position: :token_card_link %>
  <% end %>
<% elsif defined?(token) and token.present? %>
  <%= render "users/anon_avatar", token: token, position: :token_card_link %>
<% elsif defined?(bot) and bot and bot.unique_token.present? %>
  <%= render "users/anon_avatar", token: bot.unique_token, position: :token_card_link %>
<% end %>
