<div class="card">
  <div align="center">
    <% if user.image.url %>
      <% if @user_shown %>
        <%= image_tag user.image, class: :profile_picture %>
      <% else %>
        <%= link_to user do %>
          <%= image_tag user.image, class: :profile_picture %>
        <% end %>
      <% end %>
    <% end %>

    <p>
      <%= link_to user.name, user, class: :user_name_link %><%= ": " + user.bio if user.bio.present? %>
      <%= link_to 'Edit <i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user) if this_user_current? %>
    </p>

    <% unless this_user_current? %>
      <% unless current_user and current_user.following? user %>
        <%= link_to 'Follow <i class="fa fa-user-plus"></i>'.html_safe, follow_path(user.id), method: :post %>
      <% else %>
        <%= link_to 'Unfollow <i class="fa fa-user-times"></i>'.html_safe, unfollow_path(user.id), method: :delete %>
      <% end %>
      <%= " | " %>
      <%= link_to 'Invite <i class="fa fa-users"></i>'.html_safe, invite_path(user) %>
    <% end %>
  </div>
</div>
