<div class="card">
  <%= render "users/avatar_card_link", user: user, token: token %>
  <div align="center">
    <% if defined?(group_creator) %>
      <p>
        <b>Group Creator</b>
      </p>
    <% end %>
  
    <p>
      <%= link_to user.name, user, class: :user_name_link %>
      <% if user.body.present? %>
        <%= render "app/body", item: user %>
      <% end %>
    </p>

    <% if current_user and not this_user_current? user %>
      <% unless current_user and current_user.following? user %>
        <%= link_to 'Follow <i class="fa fa-user-plus"></i>'.html_safe, follow_path(user.id), method: :post %>
      <% else %>
        <%= link_to 'Unfollow <i class="fa fa-user-times"></i>'.html_safe, unfollow_path(user.id), method: :delete %>
      <% end %>
      <%= " | " %>
      <%= link_to 'Invite <i class="fa fa-users"></i>'.html_safe, invite_path(user) %>
    <% end %>
  </div>
</div>
