<div class="card" id="user_profile_card_<%= user.id %>">
  <%= render "users/avatar_card_link", user: user, token: (defined?(token) ? token : nil) %>
  <div align="center">
    <% if defined?(group_creator) %>
      <p>
        <b>Group Creator <i class="fa fa-star"></i></b>
      </p>
    <% end %>
    
    <% if dev? and user.last_active_at.present? %>
      <%= render "app/time_ago", item: user, time: user.last_active_at, time_label: "Last active " %>
    <% end %>
    
    <% if defined? @followers and not current_user.eql? @user \
      and current_user.has_power? 'steal_followers', :not_expired %>
      <%= link_to "Steal", steal_follower_path(@user, user), method: :put, class: :top_right_link %>
    <% end %>
    
    <p class="user_card_name_and_bio">
      <%= link_to user.name, user, class: :user_name_link %>
      <% if user.body.present? %>
        <%= render "app/body", item: user %>
      <% end %>
    </p>
    
    <div id="user_<%= user.id %>_card_links_anchor"></div>
    <%= render "users/card_links", user: user %>
  </div>
</div>

<% if settings(user)[:profile_card_bg_fader_on] %>
  <script>
    <%= render "app/fader.js", target: "user_profile_card", target_id: user.id.to_s, background: true, slow: true %>
  </script>
<% elsif settings(user)[:profile_card_bg_color] %>
  <script>
    <%= render "users/profile_card_bg_color.js", user: user %>
  </script>
<% end %>
