<div class="card" id="user_profile_card_<%= user.id %>">
  <%= render "users/avatar_card_link", user: user, token: (defined?(token) ? token : nil) %>
  <div align="center">
    <% if defined?(group_creator) %>
      <p>
        <b>Group Creator</b>
      </p>
    <% end %>
  
    <p>
      <%= link_to user.name, user, class: :user_name_link %>
      <% if user.body.present? %>
        <%= render "app/body", item: user %>
      <% end %>
    </p>
    
    <div id="user_<%= user.id %>_card_links_anchor"></div>
    <%= render "users/card_links", user: user %>
  </div>
</div>

<% if settings(user)[:profile_card_bg_color] %>
  <script>
    <%= render "users/profile_card_bg_color.js", user: user %>
  </script>
<% end %>
