<% unless cookies[:hide_featured_users] %>
  <% if rand(1..page_size).eql? page_size and (cookies[:featured_users_shown_at].nil? \
    or cookies[:featured_users_shown_at].to_datetime < 1.hour.ago) %>
    <div class="card" id="featured_users_card">
      <%= link_to "Users to follow", search_path(query: "users"), class: :top_left_link %>
      <%= link_to "Total: #{User.all.size}", search_path(query: "users"), class: :bottom_right_link %>
      <%= link_to '<i class="fa fa-times"></i>'.html_safe, hide_featured_users_path,
        remote: true, class: :top_right_link %>
      <table align="center">
        <tr>
          <% featured_users.each do |user| %>
            <td>
              <%= link_to user do %>
                <%= image_tag user.image, class: :featured_user_avatar, title: user.name %>
                <div class="featured_user_name"><%= user.name %></div>
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
    <% cookies[:featured_users_shown_at] = DateTime.current %>
  <% end %>
<% end %>
