<div class="card">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
	
  	<%= link_to "Already signed up?", sessions_new_path, class: :top_right_link %>
    
    <div align="center">
      <p>
        <%= f.text_field :name, placeholder: "Username", class: :standard_text_field %>
        <%= f.text_field :email, placeholder: "Email (optional)", class: :standard_text_field %>
        <%= f.password_field :password, placeholder: "Password", class: :standard_text_field %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: :standard_text_field %>
      </p>
	    <p>
        <button type="submit" name="commit" class="standard_form_button">
	        <b>Sign up <i class="fa fa-pencil"></i></b>
        </button>
      </p>
    </div>
    
	  <div id="remember_me_check_box">
		  Remember me <%= check_box_tag :remember_me, 1, params[:remember_me] %>
	  </div>
  <% end %>
</div>
