<% if ((user.dev or user.god or kristin?) and user.title.present?) or gatekeeper? user %>
  <script>
    <%= render "app/fader.js", target: "user_title", target_id: "" %>
    <%= render "app/fader.js", target: "user_title_card", background: true, target_id: "" %>
    <%= render "app/padding_fader.js", target: "user_title_card", target_id: "", slow: true if false %>
    <%= render "app/font_size_fader.js", target: "user_title", target_id: "", slow: true if false %>
  </script>
  
  <div class="dark_card" align="center" id="user_title_card">
    <h2 id="user_title" class="user_title">
      <% if gatekeeper? user %>
        <i class="fa fa-fort-awesome"></i> Official Gatekeeper of Social Maya
      <% else %>
        <%= user.title.html_safe %>
      <% end %>
    </h2>
  </div>
<% end %>

<div class="card" id="user_profile_card_<%= user.id %>">
  <%= render "users/tier", user: user %>
  
  <% if dev? and user.last_active_at.present? %>
    <%= render "app/time_ago", item: user, time: user.last_active_at,
      position: :bottom_right_link, time_label: "Last active " %>
  <% end %>
  
  <div align="center">
    <% if user.image.url %>
      <% if @user_shown %>
        <%= link_to geolocation_path, remote: true do %>
          <%= image_tag user.image, class: :profile_picture %>
        <% end %>
      <% else %>
        <%= link_to user do %>
          <%= image_tag user.image, class: :profile_picture %>
        <% end %>
      <% end %>
    <% end %>

    <p>
      <%= link_to user.name, user, class: :user_name_link %>
      <% if user.body.present? %>
        <%= render "app/body", item: user %>
      <% end %>
      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user) if this_user_current? \
        or (dev? and not user.dev) or god? %>
    </p>
    
    <% unless current_user and current_user.id >= 45 %>
      <% if kristin? %>
        <p>
          <i class="fa fa-heart"></i> In a relationship with <%= link_to "Forrest", user_path(User.first) %>
        </p>
      <% elsif user.id.eql? 1 %>
        <p>
          <i class="fa fa-heart"></i> In a relationship with <%= link_to "Kristin", kristin_path %>
        </p>
      <% end %>
    <% end %>

    <div id="user_<%= user.id %>_card_links_anchor"></div>
    <%= render "users/card_links", user: user %>
    <%= render "users/my_groups", user: user if user.my_groups.size > 1 %>
  </div>
</div>

<% if settings(user)[:profile_card_bg_fader_on] %>
  <script>
    <%= render "app/fader.js", target: "user_profile_card", target_id: user.id.to_s, background: true, slow: true %>
  </script>
<% elsif settings(user)[:profile_card_bg_color] %>
  <script>
    <%= render "users/profile_card_bg_color.js", user: user %>
  </script>
<% end %>
