<div class="card" id="user_profile_card_<%= user.id %>">
  <div align="center">
    <% if user.image.url %>
      <% if @user_shown %>
        <%= image_tag user.image, class: :profile_picture %>
      <% else %>
        <%= link_to user do %>
          <%= image_tag user.image, class: :profile_picture %>
        <% end %>
      <% end %>
    <% end %>

    <p>
      <%= link_to user.name, user, class: :user_name_link %>
      <% if user.body.present? %>
        <%= render "app/body", item: user %>
      <% end %>
      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user) if this_user_current? or dev? %>
    </p>

    <div id="user_<%= user.id %>_card_links_anchor"></div>
    <%= render "users/card_links", user: user %>
    <%= render "users/my_groups", user: user if user.my_groups.size > 1 %>
  </div>
</div>

<% if settings(user)[:profile_card_bg_fader_on] %>
  <script>
    <%= render "app/fader.js", target: "user_profile_card", target_id: user.id.to_s, background: true, slow: true %>
  </script>
<% elsif settings(user)[:profile_card_bg_color] %>
  <script>
    <%= render "users/profile_card_bg_color.js", user: user %>
  </script>
<% end %>
