<script>
  <%= render "app/fader.js", target: "tier_container", target_id: user.id.to_s, background: true %>
  <%= render "app/fader.js", target: "tier_number", target_id: user.id.to_s %>
</script>

<div class="tier_container" id="tier_container_<%= user.id %>">
  <div class="tier_number" id="tier_number_<%= user.id %>" align="center">
    <%= user.level[:lvl] %>
  </div>
</div>
