<div class="card">
  <%= form_for @user, url: user_path(@user), method: :patch,
	  :html => { :multipart => true, "data-ajax" => false } do |f| %>
	  <div align="center">
      <%= f.text_field :name, placeholder: "Change your name", class: "standard_text_field" %>
      
	    <p>
		    <%= f.text_area :body, placeholder: "Describe yourself" %>
	    </p>
	    
		  Avatar: <%= f.file_field :image %>
	    
	    <p>
		    <%= f.submit "Update Profile", class: "standard_form_button" %>
	    </p>
	  </div>
  <% end %>
</div>

<%= render "users/edit_password" %>

<div class="card">
  <div align="center">
    <%= link_to "Log out of all other sessions", destroy_all_other_sessions_path, method: :delete,
      title: "Log out of all browsers or devices except for this one",
      data: { confirm: "Are you sure? You'll have to log back in on any other devices or browsers." } %>
  </div>
</div>

<div class="danger_card">
  <div align="center">
    <%= link_to 'Delete account (Destroys all of your data)', @user, method: :delete, class: :caution_link,
      title: "Deletes your account and permanently destroys all of your data",
      data: { confirm: "Are you sure you want to delete your account and permanently destroy all of your data?" } %>
  </div>
</div>
