<p id="notice"><%= notice %></p>

<div class="card">
  <div align="center">
    <% if @user.image.url %>
      <%= image_tag @user.image, class: :standard_image %>
    <% end %>
    
    <p>
      <%= @user.name %>
    </p>
    
    <% if @user.bio.present? %>
      <p>
        <%= @user.bio %>
      </p>
    <% end %>
  </div>
  <% if @user.id.eql? current_user.id %>
    <%= link_to 'Edit', edit_user_path(@user), class: :top_right_link %>
  <% end %>
</div>

<%= render "posts/form" %>

<% for post in @posts %>
  <%= render "posts/card", post: post %>
<% end %>

<% if @posts.empty? %>
  <div class="card">
    <p align="center">
      You haven't posted anything yet.
    </p>
  </div>
<% end %>


