<%= render "users/profile_card", user: @user %>

<% if this_user_current? %>
  <%= render "users/progress_bar", user: @user if @user.xp %>
  <div class="dark_card" id="post_form_card">
    <%= render "posts/form" %>
  </div>
<% end %>

<% for post in @posts %>
  <% if post.is_a? Proposal %>
    <%= render "proposals/card", proposal: post %>
  <% else %>
    <%= render "posts/card", post: post %>
  <% end %>
<% end %>

<%= render "load_more_link", user: @user %>

<%= render "pages/load_bar", items: [], all_items: [] %>

<% if @posts.empty? %>
  <div class="card">
    <p align="center">
      <% if @user.eql? current_user %>
        You haven't posted anything yet.
      <% else %>
        <%= @user.name + " hasn't posted anything yet." %>
      <% end %>
    </p>
  </div>
<% end %>

<%= audio_tag "effects/magic.wav", id: "zen_sound" %>
<%= audio_tag "effects/bip.mp3", id: "post_interface_sound" %>

<% if @user.eql? User.first %>
  <%= audio_tag "music/high_tech_city.mp3", id: "creator_music" %>
<% elsif gatekeeper? @user %>
  <%= audio_tag "music/progress.mp3", id: "creator_music" %>
<% end %>

<% unless ENV['RAILS_ENV'].eql? "development" or @user.eql? current_user and god? %>
  <script>
    $("#creator_music")[0].currentTime = 0;
    $("#creator_music")[0].play();
  </script>
<% end %>
