<%= render "users/profile_card", user: @user %>

<% if this_user_current? %>
  <%= render "users/progress_bar", user: @user if @user.xp %>
  <div class="dark_card">
    <%= render "posts/form" %>
  </div>
<% end %>

<% for post in @posts %>
  <% if post.is_a? Proposal %>
    <%= render "proposals/card", proposal: post %>
  <% else %>
    <%= render "posts/card", post: post %>
  <% end %>
<% end %>

<% if @posts.empty? %>
  <div class="card">
    <p align="center">
      <% if @user.eql? current_user %>
        You haven't posted anything yet.
      <% else %>
        <%= @user.name + " hasn't posted anything yet." %>
      <% end %>
    </p>
  </div>
<% end %>

<%= audio_tag "effects/magic.wav", id: "zen_sound" %>
<%= audio_tag "effects/bip.mp3", id: "post_interface_sound" %>
