<div class="stacked_result_question stacked_result_answer <%= 'stacked_result_question_even' if result_num.to_i.even? %>" id="results_answer_<%= answer.id %>" align="left">
  <% if answer.survey_question.grid %>
    <%= snip_survey_txt answer.grid_result_txt, @read_more %>
    <%= survey_result_read_more_link answer, @read_more, result_num %>
  <% else %>
    <% case answer.survey_question.question_type %>
    <% when 'checkbox' %>
        <%= snip_survey_txt eval(answer.body).join(', '), @read_more %>
        <%= survey_result_read_more_link answer, @read_more, result_num %>
    <% else %>
      <%= snip_survey_txt answer.body, @read_more  %>
      <%= survey_result_read_more_link answer, @read_more, result_num %>
    <% end %>
  <% end %>
</div>
