<div class="stacked_results" id="results">
  <table class="survey_results_table">
    <tr class="sort_results_tr">
      <% for question in @survey.survey_questions %>
        <th>
          <%= snip_survey_txt question.body %>
          <%= link_to '<i class="fa fa-caret-up"></i>'.html_safe, sort_results_by_path(id: @survey.id,
            question_body: question.body, order: 'up'), remote: true, class: "sort_by_link" %>
          <%= link_to '<i class="fa fa-caret-down"></i>'.html_safe, sort_results_by_path(id: @survey.id,
            question_body: question.body, order: 'down'), remote: true, class: "sort_by_link" %>
        </th>
      <% end %>
    </tr>
  </table>

  <% result_num=1; for result in @results %>
    <div class="stacked_result">
      <% for answer in result.survey_answers %>
        <% unless answer.body.blank? or answer.body.eql? "[]" %>
          <div class="stacked_result_questions_container">
            <div class="stacked_result_question <%= 'stacked_result_question_even' if result_num.even? %>" align="left">
              <%= snip_survey_txt answer.question.body %>
            </div>
            <%= render 'answer_td', answer: answer, result_num: result_num %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% result_num+=1; end %>
</div>

<%= render "app/link_sound.js", _class: true, link_id: :sort_by_link, sound: :post_interface_sound %>
