<% if @invite %>
  <div class="card">
    <b id="invite_link_label"><%= link_to "Invitation link - Copy and share:",
      copy_invite_link_path, remote: true, id: :copy_invite_link %></b>
    <div align="center">
      <%= text_field_tag :invite_link, @invite_link, id: :invite_link_field %>
    </div>
  </div>
<% elsif @portal %>
  <div class="card">
    <b id="invite_link_label"><%= link_to "Portal link - Copy and share:",
      copy_invite_link_path, remote: true %></b>
    <div align="center">
      <%= text_field_tag :invite_link, @portal_link, id: :invite_link_field %>
    </div>
  </div>
<% end %>

<div class="card">
  <div align="center">
    <p class="justified_body_text">
      This website is invite-only. Use the form below to generate a link you can easily share with anyone via text, email, etc. The link will direct the recipient to a user sign up page enabling them to begin using the site. However, once the link is redeemed, they will only be able to register from the browser they opened the link from. After sign up, the user can then log in from any device or browser they so choose.
    </p>
    <%= render "connections/invite_link_form" %>
  </div>
</div>

<div class="card">
  <div align="center">
    <p>
      Create portals for mass exodus
    </p>
    <p>
      Defaults to <%= Portal::DEFAULT_REMAINING_USES %> uses and expires in
        <%= time_ago_in_words(Portal.expiration_date) %>
    </p>
    <%= render "connections/portal_link_form" %>
  </div>
</div>

<script>
  <%= render "connections/listen_for_invite_copy.js" %>
</script>
