<%= form_tag update_settings_path, method: :put do %>
  <div align="center">
    <% Setting.names.each do |category, names| %>
      <% for name in names %>
        <p>
          <%= name + ": " %>
          <%= check_box_tag name.to_sym, nil, settings[name.to_sym] if category.eql? :on %>
          <% if category.eql? :state %>
            <%= fields_for name.to_sym do |f| %>
              <% [:r, :g, :b].each do |color| %>
                <%= f.select color, options_for_select(rgb_options(name, color)) %>
              <% end %>
            <% end %>
          <% end %>
        </p>
      <% end %>
    <% end %>
    <p>
      Restore default settings: <%= check_box_tag :restore_defaults %>
    </p>
    <p>
      <button type="submit" name="commit" class="standard_form_button">
        <b>Save <i class="fa fa-cog"></i></b>
      </button>
    </p>
  </div>
<% end %>
