<h2 class="standard_page_header">Dev Panel <i class="fa fa-code"></i></h2>

<% if @invite %>
  <div class="card">
    <b id="invite_link_label"><%= link_to "Invitation link - Copy and share:",
      copy_invite_link_path, remote: true %></b>
    <div align="center">
      <%= text_field_tag :invite_link, @invite_link, id: :invite_link_field %>
    </div>
  </div>
<% end %>

<div class="card">
  <div align="center">
    <p class="justified_body_text">
      This website is invite-only. User the form below to generate a link you can easily share with anyone via text, email, etc. The link will direct the recipient to a user sign up page enabling them to begin using the site. However, once the link is redeemed, they will only be able to register from the browser they opened the link from. After sign up, the user can then log in from any device or browser they choose.
    </p>
    <%= render "connections/invite_link_form" %>
  </div>
</div>

<div class="card">
  <div align="center">
    <p>
      <b>Totals:</b> 
        <%= link_to "#{User.all.size} users", users_path %>, 
        <%= link_to "#{Group.all.size} groups", groups_path %>, 
        <%= Post.all.size %> posts, 
        <%= Comment.all.size %> comments, 
        <%= Message.all.size %> messages
    </p>
    <%= link_to 'Reinitialize all user settings <i class="fa fa-cogs"></i>'.html_safe,
      update_all_user_settings_path, method: :put %>
  </div>
</div>

