<h2 class="standard_page_header">Dev Panel <i class="fa fa-code"></i></h2>

<div class="card">
  <div align="center">
    <p><b>Dev totals:</b> 
      <%= Connection.invites.size %> invites,
      <%= Connection.invites.where(redeemed: true).size %> redeemed invites,
      <%= link_to "#{Portal.all.size} portals open", portals_path %>,
      <%= Treasure.all.size %> treasures,
      <%= link_to "#{Bot.all.size} bots", bots_path %>
    </p>
    <p><b>User totals:</b> 
      <%= link_to "#{User.all.size} users", users_path %>,
      <%= Post.all.size %> posts,
      <%= Comment.all.size %> comments,
      <%= Message.all.size %> messages,
      <%= Connection.folders.size %> conversations,
      <%= link_to "#{Group.all.size} groups", groups_path %>
    </p>
    <p><b>Anrcho totals:</b> 
      <%= link_to "#{Proposal.all.size} motions", proposals_path %>,
      <%= Vote.all.size %> votes
    </p>
    <%= link_to 'Reinitialize all user settings <i class="fa fa-cog"></i>'.html_safe,
      update_all_user_settings_path, method: :put %>
  </div>
</div>

<%= render "settings/dev_inviting" %>

<%= render "bots/form" %>

<div class="card">
  <div align="center">
    <%= render "treasures/form" %>
  </div>
</div>
