<h2 class="standard_page_header">Dev Panel <i class="fa fa-code"></i></h2>

<div class="dark_card" align="center">
  <p>
    <%= link_to '<i class="fa fa-terminal fa-lg" aria-hidden="true"></i>'.html_safe,
      console_path, class: :white_link %> 
    You are in 
    <% if ENV['RAILS_ENV'].eql? "development" %>
      development mode.
    <% else %>
      production.
    <% end %>
  </p>
</div>

<div class="card">
  <div align="center">
    <p><b>Dev totals:</b> 
      <%= Connection.invites.size %> invites,
      <%= Connection.invites.where(redeemed: true).size %> redeemed invites,
      <%= link_to "#{Portal.loners.size} portals open", portals_path %>,
      <%= link_to "#{Portal.clusters.size} clusters", clusters_path %>,
      <%= Treasure.all.size %> treasures,
      <%= link_to "#{Bot.all.size} bots", bots_path %>
    </p>
    <p><b>User totals:</b> 
      <%= link_to "#{User.all.size} users", users_path %>,
      <%= Post.all.size %> posts,
      <%= link_to "#{Comment.all.size} comments", comments_path %>,
      <%= Message.all.size %> messages,
      <%= Connection.folders.size %> conversations,
      <%= link_to "#{Note.all.size} notifications", dev_notes_path %>,
      <%= link_to "#{Group.all.size} groups", groups_path %>
    </p>
    <p><b>Anrcho totals:</b> 
      <%= link_to "#{Proposal.all.size} motions", proposals_path %>,
      <%= Vote.all.size %> votes
    </p>
    <%= link_to 'Reinitialize all user settings <i class="fa fa-cog"></i>'.html_safe,
      update_all_user_settings_path, method: :put %>
  </div>
</div>

<%= render "settings/dev_inviting" %>

<%= render "treasures/tweet_form" %>

<%= render "bots/form" %>

<div class="card">
  <div align="center">
    <%= render "treasures/form" %>
  </div>
</div>

<div class="dark_card" align="center">
  <%= audio_tag "effects/bumerang.wav", id: "bumerang" %>
  <%= audio_tag "effects/coin_1.wav", id: "coin_1" %>
  <%= audio_tag "effects/coin_3.wav", id: "coin_3" %>
  <%= audio_tag "effects/umbrella_1.wav", id: "umbrella_1" %>
  <%= audio_tag "effects/zipper_bag_3.wav", id: "zipper_bag_3" %>
  <%= audio_tag "effects/magic.wav", id: "magic" %>
  
  <p>
    <%= link_to "Bumerang", play_audio_path("bumerang"), remote: true, class: :white_link %>
  </p>
  <p>
    <%= link_to "Coin 1", play_audio_path("coin_1"), remote: true, class: :white_link %>
  </p>
  <p>
    <%= link_to "Coin 2", play_audio_path("coin_3"), remote: true, class: :white_link %>
  </p>
  <p>
    <%= link_to "Umbrella", play_audio_path("umbrella_1"), remote: true, class: :white_link %>
  </p>
  <p>
    <%= link_to "Zipper bag", play_audio_path("zipper_bag_3"), remote: true, class: :white_link %>
  </p>
  <p>
    <%= link_to "Magic wand", play_audio_path("magic"), remote: true, class: :white_link %>
  </p>
</div>

<%= render "pages/load_bar", items: [], all_items: [] %>

<%= render "pages/load_wheel" %>
