<h2 class="standard_page_header">Dev Panel <i class="fa fa-code"></i></h2>

<div class="dark_card" align="center">
  <p>
    <% if ENV['RAILS_ENV'].eql? "development" %>
      You are in development mode.
    <% else %>
      You are in production.
    <% end %>
  </p>
</div>

<div class="dark_card" align="center">
  <p>
    <%= audio_tag "alien_breathe.wav", id: "audio_play" %>
  </p>
  <p>
    <%= link_to "Play", play_audio_path, remote: true, class: :white_link %>
  </p>
</div>

<div class="card">
  <div align="center">
    <p><b>Dev totals:</b> 
      <%= Connection.invites.size %> invites,
      <%= Connection.invites.where(redeemed: true).size %> redeemed invites,
      <%= link_to "#{Portal.loners.size} portals open", portals_path %>,
      <%= link_to "#{Portal.clusters.size} clusters", clusters_path %>,
      <%= Treasure.all.size %> treasures,
      <%= link_to "#{Bot.all.size} bots", bots_path %>
    </p>
    <p><b>User totals:</b> 
      <%= link_to "#{User.all.size} users", users_path %>,
      <%= Post.all.size %> posts,
      <%= link_to "#{Comment.all.size} comments", comments_path %>,
      <%= Message.all.size %> messages,
      <%= Connection.folders.size %> conversations,
      <%= link_to "#{Note.all.size} notifications", dev_notes_path %>,
      <%= link_to "#{Group.all.size} groups", groups_path %>
    </p>
    <p><b>Anrcho totals:</b> 
      <%= link_to "#{Proposal.all.size} motions", proposals_path %>,
      <%= Vote.all.size %> votes
    </p>
    <%= link_to 'Reinitialize all user settings <i class="fa fa-cog"></i>'.html_safe,
      update_all_user_settings_path, method: :put %>
  </div>
</div>

<%= render "settings/dev_inviting" %>

<%= render "bots/form" %>

<div class="card">
  <div align="center">
    <%= render "treasures/form" %>
  </div>
</div>
