<h2 class="standard_page_header">Dev Panel <i class="fa fa-code"></i></h2>

<div class="card">
  <div align="center">
    <p>
      Totals:
        <%= link_to "#{User.all.size} users", users_path %>,
        <%= link_to "#{Group.all.size} groups", groups_path %>,
        <%= Post.all.size %> posts,
        <%= Comment.all.size %> comments,
        <%= Message.all.size %> messages,
        <%= Connection.folders.size %> conversations,
        <%= Connection.invites.size %> invites,
        <%= Connection.invites.where(redeemed: true).size %> redeemed invites,
        <%= Treasure.all.size %> treasures,
        <%= link_to "#{Bot.all.size} bots", bots_path %>
    </p>
    <%= link_to 'Reinitialize all user settings <i class="fa fa-cog"></i>'.html_safe,
      update_all_user_settings_path, method: :put %>
  </div>
</div>

<%= render "settings/dev_inviting" %>

<div class="card">
  <div align="center">
    <%= render "treasures/form" %>
  </div>
</div>

<%= render "bots/form" %>
