<% if all_items.present? and all_items.size > page_size or @user or @group or @dev_panel_shown or @invite_only_page %>
  <div align="center" id="load_bar" <%= (@user or @group) ? "hidden" : nil %>>
    <%= link_to show_treasure_path(Treasure.random(current_user).unique_token) do %>
      <div class="load_bar_containor">
        <% 16.times do |num| %>
          <% rgb = random_color %>
          <div class="load_bar_section" id="load_bar_section_<%= num %>"
            style="background:black;"></div>
        <% end %>
      </div>
    <% end %>
    
	  <script>
		  <%= render "pages/load_bar_fader.js" %>
	  </script>
  </div>
<% end %>

<%= audio_tag "effects/bumerang.wav", id: "more_content_sound" %>

<div id="footer_spacing"></div>
