<div class="dsa_card" align="center">
  <%= form_for(@shared_item) do |f| %>
    <%= hidden_field_tag :item_library_id, @item_library.id %>

    <% if @editing %>
      <p>
        Currently editing <%= link_to @shared_item.name, shared_item_path(@shared_item) %>
      </p>
    <% end %>

    <p>
      <%= f.text_field :name, placeholder: "Name", class: :surveys_text_field %>
    </p>

    <p>
      <%= f.text_area :description, placeholder: "Description", class: :surveys_text_area %>
    </p>

    <button type="submit" name="commit" class="surveys_form_button">
      <b><%= @editing ? "Save" : "Create" %> <i class="fa fa-pencil"></i></b>
    </button>
  <% end %>
</div>
