<%= render "card" %>

<% if not Game.class_selected_yet? current_user %>
  <%= render "meme_war_classes" %>

  <div class="dark_card" align="center" id="confirm_class_selection_card">
    <p>
      <%= link_to "Confirm class...", confirm_class_selection_path, method: :put, class: :white_link %>
    </p>
  </div>

  <% if session[:class_selection].present? %>  
    <script>
      $(".meme_war_class_card").each(function() {
        if ($(this).attr('id') == "<%= session[:class_selection] %>") {
          $(this).css("background", "rgb(119,158,203)");
        } else {
          $(this).css("background", "rgb(10,10,10)");
        }
      });
      $("#confirm_class_selection_card").css("background", "rgb(255,105,97)");
    </script>
  <% end %>
<% else %>
  <%= render "games/interface", game: @game %>
<% end %>
