<div class="card">
  <%= render "users/avatar_card_link", bot: bot %>
  <div align="center">
    <%= link_to bot do %>
      <p><%= bot.name %></p>
    <% end %>
    <p><%= "Description: " + bot.body if bot.body.present? %></p>
    <% unless bot.bot_tasks.empty? %>
      <%= label_tag "Tasks:" %>
      <% bot.bot_tasks.each do |task| %>
        <%= task.name %><%= ", " unless task.eql? bot.bot_tasks.last %>
      <% end %>
    <% end %>
  </div>
</div>
