<div class="card">
  <%= render "users/avatar_card_link", bot: bot %>
  <%= render "app/time_ago", item: bot %>
  <div align="center">
    <%= link_to bot, title: bot.name do %>
      <p><%= bot.name %></p>
    <% end %>
    <p><%= "Description: " + bot.body if bot.body.present? %></p>
    <% unless bot.bot_tasks.empty? %>
      <p>
        <%= label_tag "Tasks:" %>
        <% bot.bot_tasks.each do |task| %>
          <%= task.name %><%= ", " unless task.eql? bot.bot_tasks.last %>
        <% end %>
      </p>
    <% end %>
    <% [:children, :parents, :siblings, :mates].each do |sym| %>
      <% unless bot.send(sym).empty? %>
        <p>
          <%= label_tag "#{sym.to_s.capitalize}:" %>
          <% bot.send(sym).each do |_bot| %>
            <%= link_to bot_nick_name(_bot.name), bot_path(_bot),
              title: _bot.name %><%= ", " unless _bot.eql? bot.send(sym).last %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
  <%= render "bots/growing" %>
</div>
