<!-- resets session variable from last time -->
<% session[:task_field] = "" %>

<div class="card">
  <%= form_tag create_bot_path do |f| %>
    <div align="center">
      <p>
        Create bots to perform various tasks
      </p>
      <p>
        <%= text_field_tag :bot_name, nil, placeholder: "Bot name", class: :standard_text_field %>
      </p>
      <p>
        <%= text_area_tag :bot_body, nil, placeholder: "Description", class: :standard_text_field %>
      </p>
      
      <!-- treasure_form_link class reused here because it fits -->
      <%= select_tag :bot_task_0, options_for_select(bot_task_type_options), class: :standard_text_field %>
      <div id="add_task_anchor"></div>
      <%= link_to '<i class="fa fa-plus"></i> Another task for multipurpose bots'.html_safe,
        add_task_field_path, remote: true, class: :treasure_form_link %>
      
	    <p>
        <button type="submit" name="commit" class="standard_form_button">
	        <b>Create <i class="fa fa-cog"></i></b>
        </button>
      </p>
    </div>
  <% end %>
</div>
