<% case label %>
<% when "R" %>
  <div class="grid_type_question_label" align="left">
    Grid (<%= question.question_type.eql?('checkbox') ? question.question_type.capitalize : "Multiple choice" %>):
  </div>

  <div class="row_column_label" align="left">
    Rows
  </div>
<% when "C" %>
  <div class="row_column_label" align="left">
    Columns
  </div>
<% else %>
  <div class="row_column_label selection_label" align="left">
    <%= question.question_type.eql?('checkbox') ? question.question_type.capitalize : "Multiple choice" %>:
  </div>
<% end %>

<% s_num=1; for selection in selections %>
  <p class="survey_selection_edit_form_body" id="selection_<%= selection.id %>" align="left">
    <%= s_num.to_s + ": #{snip_survey_txt (selection.other ? "Other..." : selection.body), (@showing or @editing)}" %>

    <% if @editing %>
      <%= middle_dot %>
      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_survey_selection_path(selection) %>
      <%= link_to '<i class="fa fa-times"></i>'.html_safe, delete_survey_selection_path(selection),
        method: :delete, remote: true, title: "Click here to permanently delete this selection?",
        data: { confirm: "Are you sure you want to permanently delete this selection?" }, class: "edit_survey_form_link" %>
    <% end %>
  </p>
<% s_num+=1; end %>

<% if @editing %>
  <% cookies["question_#{question.get_num}_selection_num"] = selections.size %>

  <div id="question_<%= question.get_num %>_<%= question.question_type %>_fields_anchor"></div>
  <div class="add_selection_edit_links" align="left">
    <%= link_to '<i class="fa fa-plus"></i> Add another selection'.html_safe,
      add_survey_question_selection_path(question_num: question.get_num, selection_num: selections.size, type: question.question_type, survey_id: @survey.id, editing: true),
      remote: true, class: "edit_survey_form_link add_selection_edit_link", id: :add_another_question_link %>

    <% unless question.grid or question.has_other? %>
      <%= middle_dot %>
      <%= link_to '<i class="fa fa-pencil-square-o"></i> Add "Other"'.html_safe,
        add_survey_question_selection_path(question_num: question.get_num, type: question.question_type, survey_id: @survey.id, other: true, editing: true),
        remote: true, class: "edit_survey_form_link add_selection_edit_link", id: "question_#{question.get_num}_add_other_link" %>
    <% end %>
  </div>
<% end %>
