<% question_num = @question_num ? @question_num : cookies[:question_num] %>

<div id="question_<%= question_num %>">
  <div class="selection_row_label" id="question_<%= question_num %>_label_with_remove_link">
    Question <%= question_num %>
    <% if question_num.to_i > 1 %>
       <%= link_to '路 <i class="fa fa-times"></i>'.html_safe, remove_question_field_path(question_num), remote: true,
      class: "survey_form_link surveys_link", id: "remove_question_#{question_num}_field_link" %>
    <% end %>
  </div>

  <%= text_area_tag "question_#{question_num}", nil,
    placeholder: "Write your survey question here... (Question #{question_num})", class: :surveys_text_area, id: "question_#{question_num}_body" %>

  <div id="question_<%= question_num %>_body_field_anchor"></div>

  <% case @type %>
  <% when 'checkbox' %>
    <%= render "survey_selections/checkbox", question_num: question_num %>
  <% when 'radio_button' %>
    <%= render "survey_selections/radio_button", question_num: question_num %>
  <% when 'open_ended_paragraph' %>
    <%= hidden_field_tag "question_#{question_num}_type", 'open_ended_paragraph' %>
  <% end %>

  <table>
    <tr>
      <td>
        <%= link_to "Open ended", set_question_type_path(question_num: question_num, type: :open_ended), remote: true,
          class: "#{active_question_type_link :open_ended}survey_form_link", id: "question_#{question_num}_open_ended_link" %>
      </td>
      <td class="dark_txt">
        路
      </td>
      <td>
        <%= link_to "Paragraph", set_question_type_path(question_num: question_num, type: :open_ended_paragraph), remote: true,
          class: "#{active_question_type_link :open_ended_paragraph}survey_form_link", id: "question_#{question_num}_radio_button_link" %>
      </td>
      <td class="dark_txt">
        路
      </td>
      <td>
        <%= link_to "Multiple choice", set_question_type_path(question_num: question_num, type: :radio_button), remote: true,
          class: "#{active_question_type_link :radio_button}survey_form_link", id: "question_#{question_num}_radio_button_link" %>
      </td>
      <td class="dark_txt">
        路
      </td>
      <td>
        <%= link_to "Checkbox", set_question_type_path(question_num: question_num, type: :checkbox), remote: true,
          class: "#{active_question_type_link :checkbox}survey_form_link", id: "question_#{question_num}_checkbox_link" %>
      </td>
    </tr>
  </table>
  <br/>
</div>

<%= render "app/link_sound.js", _class: true, link_id: :survey_form_link, sound: :post_interface_sound %>
