<% portal_link = root_url; portal_link.slice!(-1);
  portal_link +=enter_portal_path(portal.unique_token) %>

<div class="card">
  <%= render "app/time_ago", item: portal %>
  <%= link_to "Close", close_portal_path(portal.unique_token), method: :delete,
    data: { confirm: "Are you sure you want to close this portal?" }, class: :top_left_link %>
  <div align="center">
    <p>
      Portal <%= portal.unique_token %>
    </p>
    <% if portal._cluster %>
      <p>
        <b><%= "Belongs to Cluster #{portal._cluster.unique_token}" %></b>
      </p>
    <% end %>
    <p>
      <%= portal.remaining_uses %> remaining uses
    </p>
    <p>
      Expires in <%= time_ago_in_words portal.expires_at %>
    </p>
    
    <b id="invite_link_label"><%= link_to "Portal link - Copy and share:",
      copy_invite_link_path, remote: true, id: :copy_invite_link %></b>
    <div align="center">
      <%= text_field_tag :invite_link, portal_link, id: :invite_link_field, class: :standard_text_field %>
    </div>
  </div>
</div>
