<div class="circle_menu_container">
  <%= link_to 'javascript:;', class: :circle_menu_link do %>
    <i class="circle_menu_section_top_left <%= 'circle_menu_color_1' if raleigh_dsa? %>"></i>
    <i class="circle_menu_section_top_right <%= 'circle_menu_color_2' if raleigh_dsa? %>"></i>
    <i class="circle_menu_section_bottom_left <%= 'circle_menu_color_2' if raleigh_dsa? %>"></i>
    <i class="circle_menu_section_bottom_right <%= 'circle_menu_color_1' if raleigh_dsa? %>"></i>
  <% end %>
  <div id="nav_links" class="circle_menu_nav_links" hidden>
    <%= render "app/nav_links" %>
  </div>
</div>

<script>
  function circle_menu() {
    var circle_menu = $(".circle_menu_container");
    var circle_link = $(".circle_menu_link");
    // sections inside of circle_menu_link
    var circle_section_tl = $(".circle_menu_section_top_left");
    var circle_section_tr = $(".circle_menu_section_top_right");
    var circle_section_br = $(".circle_menu_section_bottom_left");
    var circle_section_bl = $(".circle_menu_section_bottom_right");
    // padding for nav_links, positioning
    var nav_links = $("#nav_links");
    // fix for nav_links
    var toggle = false;
    circle_link.click(function() {
      toggle = !toggle;
      circle_menu.toggleClass("circle_menu_open");
      circle_link.toggleClass("circle_menu_rotate");
      // circle_menu sections all slide outward
      toggle_section_shift();
      // nav_links render on delay
      if (nav_links.is(':hidden')) {
        setTimeout(toggle_nav_links, 400);
      } else {
        nav_links.fadeOut();
      }
      // haptic
      window.navigator.vibrate(1);
    });
    function toggle_nav_links() {
      if (toggle) {
        nav_links.fadeIn();
      }
    }
    function toggle_section_shift() {
      circle_section_tl.toggleClass("circle_top_left_shift");
      circle_section_tr.toggleClass("circle_top_right_shift");
      circle_section_bl.toggleClass("circle_bottom_left_shift");
      circle_section_br.toggleClass("circle_bottom_right_shift");
    }
  } circle_menu();
</script>
