<% if in_dev? %>
  <%= standard_dark_card do %>
    <canvas data-processing-sources="hello.pde"></canvas>
  <% end %>
<% end %>

<%= render "arts/kristins_snek_card" %>

<div class="art_card surreal_card" align="center">
  <%= link_to paper_path do %>
    <p class="surreal_txt">
      surreal
    </p>
  <% end %>
</div>

<div class="art_card" align="center" style="background:pink;">
  <div class="color_palette">
    <% for color in color_palette_2.values %>
      <div class="palette_color"
        style="background:<%= color %>;width:<%= 100.0 / color_palette_2.size.to_f %>%;"></div>
    <% end %>
  </div>
</div>

<div class="art_card" align="center">
  <div class="color_palette">
    <%  i=0; for color in color_palette.values %>
      <%= link_to (i==4 ? love_path \
        : (i==0 ? my_favorite_color_path \
        : (i==2 ? void_path \
        : (i==6 ? vaporwave_path \
        : 'javascript:;')))) do %>
      <div class="palette_color"
        style="background:<%= color %>;width:<%= 100.0 / color_palette.size.to_f %>%;"></div>
      <% end; i+=1 %>
    <% end %>
  </div>
</div>

<%= render "arts/color_block" %>

</br>
