<style>
  html {
    background: rgb(255,234,234);
  }
</style>

<div class="take_survey_banner" align="center">
  <%= image_tag "dsa/banner_img.png", class: :take_survey_banner_img %>
  <div class="take_survey_color_bands color_band_blur" id="color_bands">
    <% 10.times do |i| %>
      <div class="color_band" id="color_band_<%= i %>"></div>
      <%= render "arts/band_fader.js", target: "color_band", target_id: i, bright_reds: true %>
    <% end %>
  </div>
</div>

<div class="surveys_card take_survey_card take_survey_card_border" align="left">
  <div class="take_survey_page_header">
    <%= @survey.title %>
  </div>

  <% if @survey.body.present? %>
    <p class="<%= 'justified_body_text' if @survey.body.size > 150 %>">
      <%= render "app/body", item: @survey %>
    </p>
  <% end %>

  <%= link_to "Edit", edit_survey_path(@survey), class: "bottom_right_link" if invited? %>
</div>

<%= form_tag complete_survey_path(token: @survey.unique_token), method: :post do |f| %>
  <% if @questions.size > @page_size %>
      <% (@questions.size.to_f / @page_size.to_f).ceil.times do |page_num| %>
        <% if @survey.get_questions_by_page(page_num).present? %>
          <div class="take_survey_page" id="take_survey_page_<%= page_num %>" <%= 'hidden' unless page_num.zero? %>>
            <% question_num=@survey.get_questions_by_page(page_num).first.get_num; for question in @survey.get_questions_by_page(page_num) %>
              <%= render "survey_questions/answer", question: question, question_num: question_num %>
            <% question_num += 1; end %>
          </div>
        <% end %>
      <% end %>
      <div class="surveys_card take_survey_card" align="center">
        <div class="back_link" hidden>
          <%= link_to survey_questions_back_path(@survey), remote: true, class: "take_survey_next_link survey_interactive_link" do %>
            <div class="take_survey_back_link_txt">
              Back
            </div>
          <% end %>
        </div>
        <%= link_to survey_questions_next_path(@survey), remote: true, class: "take_survey_next_link survey_interactive_link next_link" do %>
          <div class="take_survey_back_link_txt">
            Next
          </div>
        <% end %>
      </div>
  <% else %>
    <% question_num=1; for question in @questions %>
      <%= render "survey_questions/answer", question: question, question_num: question_num %>
    <% question_num += 1; end %>
  <% end %>

  <div class="surveys_card take_survey_card" id="survey_submit" align="center" <%= 'hidden' if @questions.size > @page_size %>>
    <button type="submit" name="commit" class="surveys_form_button">
      <b>Complete survey <i class="fa fa-pencil"></i></b>
    </button>
  </div>
<% end %>

<% if invited? %>
  <div class="surveys_card take_survey_card" align="center">
    <%= link_to surveys_path do %>
      <p>
        Exit survey <i class="fa fa-home"></i>
        <% if invited? and @survey.results.present? %>
          <%= middle_dot %>
          <%= link_to 'See results for this survey <i class="fa fa-list"></i>'.html_safe, survey_results_path(@survey) %>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>

<%= render "app/link_sound.js", _class: true, link_id: :survey_interactive_link, sound: :post_interface_sound %>
