<%= render "app/goto" %>

<%= render "pages/scroll_to_top" %>

<%= render "app/color_settings" %>

<%= render "arts/bands", tans: true, slow: true if raleigh_dsa? and not @taking_survey %>

<div id="footer_spacing_container"></div>

<div class="bottom_line_fader"></div>

<%= audio_tag "effects/bip.mp3", id: "post_interface_sound" %>
<%= audio_tag "effects/bumerang.wav", id: "more_content_sound" %>
<%= audio_tag "interface/interface_9.mp3", id: "user_interface_sound" %>
