<%= render "pages/scroll_to_top" %>

<%= render "app/standard_nav_menu" %>

<div id="menu_link_container"></div>

<%= link_to '<i class="fa fa-bars fa-2x"></i>'.html_safe, toggle_menu_path,
  id: :toggle_menu_link, remote: true, title: "Main menu" %>
  
<%= link_to '<i class="fa fa-home fa-lg"></i>'.html_safe, root_url,
  class: :return_home_link, title: "Return home" unless @you_are_home %>

<%= link_to '<i class="fa fa-search fa-lg"></i>'.html_safe, search_path, class: :search_nav_link,
	  title: "Search for groups, users, posts, comments, etc." %>

<%= render "notes/nav_link" %>

<%= render "users/current_avatar" %>

<div id="spacing_header"></div>

<div id="universal_anchor"></div>

<% if notice %>
  <div class="card">
    <div align="center"><%= notice %></div>
  </div>
<% end %>

<%= render "pages/load_wheel", token: unique_element_token %>
