<% if raleigh_dsa? %>
  <style>
    html {
      background: white;
      font-size: 13px;
    }

    a {
      color: rgb(70, 70, 70);
    }

    .standard_nav_menu_link {
    	color: rgb(70, 70, 70);
    	background: white;
    }

    .circle_menu_open {
    	background: white;
    }
  </style>
<% end %>

<div class="top_line_fader"></div>

<% unless @taking_survey %>
  <div class="vertical_spacer"></div>
  <%= render "arts/circle_menu" %>
<% end %>

<% unless raleigh_dsa? %>
  <%= render "search/slide_menu" %>

  <% unless @arts %>
    <%= link_to '<i class="fa fa-home fa-lg"></i>'.html_safe, (anrcho? ? proposals_path : root_url),
      class: :return_home_link, title: "Return home" unless @you_are_home %>

    <%= render "notes/slide_menu" %>
    <%= render "messages/nav_link" %>
    <%= render "users/current_avatar" %>
  <% end %>
<% else %>
  <% if current_user and not @taking_survey %>
    <%= render "users/current_avatar" %>
  <% end %>
<% end %>

<i id="universal_anchor"></i>

<%= render "app/notices" %>
<%= render "app/click_anywhere?.js" %>
<%= audio_tag "effects/umbrella_1.wav", id: "nav_menu_sound" %>
