<div class="card">
  <div align="center">
    <%= link_to '<i class="fa fa-home"></i>'.html_safe, root_url %>
    <b> > </b>
    <% line.each do |key, val| %>
      <% if val.present? %>
        <% last_in_line = key.eql? line.to_a.last.first %>
        <% case key %>
        <% when :comment %>
          <%= link_to "Comment", comment_path(val), id: (:last_in_line if last_in_line) %>
        <% when :reply %>
          <%= link_to "Reply", comment_path(val), id: (:last_in_line if last_in_line) %>
        <% when :post %>
          <%= link_to "Post", post_path(val), id: (:last_in_line if last_in_line) %>
        <% when :group %>
          <%= link_to "Group (#{val.name})", group_path(val), id: (:last_in_line if last_in_line) %>
        <% end %>
        <%= '<b> > </b>'.html_safe unless last_in_line %>
      <% end %>
    <% end %>
  </div>
</div>
