<% if rand > 0.75 and current_user and current_user.has_power? 'discover' %>
  <% temp_token = rand_string %>
  <%= link_to show_treasure_path(Treasure.random(current_user).unique_token) do %>
    <div class="random_pixel" id="random_pixel_<%= temp_token %>"
      style="background:rgb(<%= random_color :as_str %>);top:<%= rand 1..100 %>%;left:<%= rand 1..100 %>%;">
    </div>
  <% end %>
<% end %>
