<div id="standard_nav_menu" hidden>
  <%= link_to '<i class="fa fa-times fa-2x"></i>'.html_safe, toggle_menu_path,
    remote: true, id: :standard_nav_menu_link, align: :right, title: "Exit menu" %>
  
  <%= link_to fa_icon("home", "Home"), root_url, id: :standard_nav_menu_link,
    title: "Home consists of posts and groups, in reverse chronological order." %>
    
	<%= link_to fa_icon("envelope", "Inbox#{': ' + current_user.inbox_unseen.to_s \
	  unless current_user.inbox_unseen.zero?}"), inbox_path, id: :standard_nav_menu_link if current_user %>
	
	<%= link_to fa_icon("bell", "Notes#{': ' + currently_unseen_notes.size.to_s \
	  unless currently_unseen_notes.size.zero?}"), notes_path, id: :standard_nav_menu_link,
    title: "See what's happening..." %>
	
	<%= link_to fa_icon("search", "Search"), search_path, id: :standard_nav_menu_link,
	  title: "Search for groups, users, posts, comments, etc." %>
	
	<%= link_to fa_icon("cubes", "Groups"), my_groups_path, id: :standard_nav_menu_link,
	  title: "Click to see all of the groups you're in." %>
	
	<% unless current_user %>
  	<%= link_to fa_icon("user-plus", "Sign up"), new_user_path, id: :standard_nav_menu_link,
  	  title: "Click here to sign up and see way less ads." %>
  	  
  	<%= link_to fa_icon("sign-in", "Log in"), sessions_new_path, id: :standard_nav_menu_link %>
  <% else %>
	  <%= link_to fa_icon("users", "Following"), following_path(current_user.id), id: :standard_nav_menu_link %>
	  
	  <%= link_to fa_icon("cog", "Settings"), settings_path, id: :standard_nav_menu_link %>
	  
	  <%= link_to fa_icon("code", "Dev"), dev_panel_path, id: :standard_nav_menu_link,
	    title: "Dpanel (Dev panel) - Click here to manage all major site functions and data." if dev? %>
	    
	  <%= link_to fa_icon("star", "Invite"), invite_someone_path, id: :standard_nav_menu_link,
	    title: "Invite someone to the site." if current_user.has_power? 'invite_someone', :not_expired and not dev? %>
	    
  	<%= link_to fa_icon("sign-out", "Log out"), sessions_destroy_path, method: :delete, id: :standard_nav_menu_link,
  	  title: "Click here to destroy your cookie.", data: { confirm: "Are you sure?" } %>
	<% end %>
</div>
