<% if proposal.group.nil? or group_auth proposal.group or group_member_auth proposal.group or own_item? proposal \
	or (visible_to_anons? proposal.group and not proposal.group.hidden) %>
	<div class="card standard_content_card" id="proposal_card_<%= proposal.id %>">
		<div class="card_corner_cut_out"></div>
		<table class="top_right_link">
			<tr>
				<td>
					<%= render "app/time_ago", item: proposal %>
				</td>
				<% if proposal.able_to_edit? and (own_item? proposal or dev?) %>
					<td>
						<%= render "proposals/open_menu_link", proposal: proposal %>
					</td>
				<% end %>
			</tr>
		</table>

	  <% if proposal.group %>
	    <% group_name = if proposal.group.name.size > 15 then proposal.group.name[0..9] + "..." else proposal.group.name end %>
	    <span class="posted_label">
	      made a motion in <%= link_to group_name, proposal.group, class: :posted_link,
	        title: "Group (#{proposal.group.name})" %>
	    </span>
		<% elsif not anrcho? %>
			<span class="posted_label">
	      made a motion in <%= link_to "Anrcho", to_anrcho_portal_url, class: :posted_link %>
			</span>
		<% elsif anrcho? %>
			<span class="posted_label">
	      made a global <%= link_to "motion", show_proposal_path(proposal.unique_token), class: :posted_link %>.
			</span>
	  <% end %>

		<table class="bottom_right_link">
			<tr>
				<td>
				  <!-- shows type of proposal to be motioned -->
				  <%= render "proposals/action_type", proposal: proposal %>
				</td>
				<% if proposal.action.present? and proposal.ratified %>
					<td>
						·
					</td>
				<% end %>
			  <% if proposal.ratified %>
					<td>
				    <%= link_to 'Ratified <i class="fa fa-check"></i>'.html_safe,
				      show_proposal_path(proposal.unique_token), class: "standard_post_link ratified_link_yay" %>
					</td>
			  <% end %>
			</tr>
		</table>

	  <!-- to be triggered when user casts the ending vote -->
	  <div id="ratification_glimmer_anchor_<%= proposal.id %>"></div>
	  <%= render "proposals/ratification_glimmer", proposal: proposal if proposal.ratified %>
	  <%= render "users/avatar_card_link", token: proposal.anon_token, user: proposal.user %>

	  <%= render "proposals/history_icon_link", proposal: proposal %>
	  <div id="proposal_card_spacer"></div>
	  <div align="center">
	    <%= render "proposals/content", proposal: proposal %>

			<!-- anchor for vote option table -->
			<div id="vote_dropdown_proposal_table_anchor_<%= proposal.id %>"></div>
	  </div>
		<!-- anchor for inserting new comment form -->
		<div id="proposal_comments_anchor_<%= proposal.id %>"></div>

	  <table class="bottom_left_link">
	      <tr>
	        <td>
	          <span id="vote_dropdown_proposal_link_anchor_<%= proposal.id %>"></span>
	          <%= render "votes/dropdown_link", item: proposal %>
	        </td>
	        <td>
	          ·
	        </td>
	        <td>
	          <span id="like_proposal_link_anchor_<%= proposal.id %>"></span>
	          <%= render "likes/link", item: proposal %>
	        </td>
	        <td>
	          ·
	        </td>
	        <td>
	    		  <div id="proposal_comments_link_anchor_<%= proposal.id %>"></div>
	    		  <%= render "comments/link", proposal: proposal %>
	        </td>
	    </table>
	</div>

	<script>
	  <%= render "app/fader.js", target: "proposal_card", target_id: proposal.id, background: true, slow: true if false %>
	</script>
<% end %>
