<!-- proposals -->

<% if proposal.title.present? %>
  <%= link_to show_proposal_path(proposal.unique_token) do %>
		<p class="proposal_title_text"><%= proposal.title %></p>
  <% end %>
<% end %>
		  
<% if proposal.image.url %>
  <p>
    <% if @proposal_shown %>
      <%= image_tag proposal.image, class: :standard_post_image %>
    <% else %>
      <%= link_to show_proposal_path(proposal.unique_token) do %>
        <%= image_tag proposal.image, class: :standard_post_image %>
      <% end %>
    <% end %>
  </p>
<% end %>

<p class="standard_body <%= 'justified_body_text' if proposal.body.size > 150 %>">
  <%= render "app/body", item: proposal %>
</p>


		  
<% if current_user and (ENV['RAILS_ENV'].eql? 'development' or dev?) %>
  <p>Score = <%= proposal.score %><p>
  <p>
    <% weights = proposal.score(nil, nil, :get_weights) %>
    Score weights: <%= weights %>
  </p>
<% end %>
