<!-- proposals -->

<div id="index_container">
  <script>
    <%= render "proposals/infinite_scroll.js" %>
  </script>

  <% unless cookies[:hide_anrcho_info] %>
    <div class="dark_card" id="anrcho_info_card" align="center">
      <p class="justified_body_text dark_link">
        Every post on Anrcho is in the form of a motion or proposal. Each motion can be voted for or against. It only takes one vote against a motion to then be verified by a peer and effectively block the motion, moving it to a section for revision until a new version is agreed upon, where it can then return to the voting stage. This process is called model of consensus voting, which ensures that all voices involved in a decision are heard and accounted for to the greatest extent possible.
      </p>
      <%= link_to fa_icon("question-circle", "More on how the site works"), tutorial_path, class: :dark_link %>
      <%= link_to '<i class="fa fa-times"></i>'.html_safe, hide_anrcho_info_path,
        remote: true, class: "top_right_link dark_link", id: :hide_anrcho_info_link %>
      <%= render "app/link_sound.js", link_id: :hide_anrcho_info_link, sound: :post_interface_sound %>
    </div>
  <% end %>

  <div class="dark_card">
    <%= render "proposals/new" %>
    <%= render "app/right_pane" %>
  </div>

  <% if @all_items.empty? %>
    <div class="dark_card">
      <p align="center">There aren't any motions yet.</p>
    </div>
  <% else %>
    <!-- allows user to switch between different proposal categories -->
    <%= render "proposals/section_links" unless @all_items.empty? %>
  <% end %>

  <div id="feed_container_anchor"></div>
  <%= render "proposals/feed_container" %>
</div>
