<div class="dark_card" align="center">
  <%= render "app/time_ago", item: view, white_link: true %>
  <% unless @user %>
    <p>
      <%= link_to view.user.name, user_views_index_path(view.user.unique_token), class: :white_link %>
    </p>
  <% end %>
  <p>
    <%= view.ip_address %>
  </p>
  <p>
    <%= view.locale %>
  </p>
  <p>
    <%= view.created_at.created_at.strftime("%d %b. %Y, %H:%M:%S") %>
  </p>
</div>
