<div class="dark_card" align="center">
  <%= render "app/time_ago", item: view, white_link: true %>
  <p>
    <% if view.user and not @user %>
      <%= link_to view.user.name + " (#{view.user.views.size})",
        user_views_index_path(view.user.unique_token), class: :white_link %>
    <% elsif view.anon_token %>
      <%= link_to view.anon_token + " (#{View.where(anon_token: view.anon_token).size})",
        anon_views_index_path(view.anon_token), class: :white_link %>
    <% end %>
  </p>
  <p>
    <%= link_to view.ip_address, views_path(ip: view.ip_address), class: :white_link %>
  </p>
  <p>
    <%= view.locale %>
  </p>
  <p>
    Times viewed from: <%= (view.user ? view.user.views : View.where(anon_token: view.anon_token)).select { |i| i.locale.eql? view.locale }.size %>
  </p>
  <p>
    <%= view.created_at.strftime("%d %b. %Y, %H:%M:%S") %>
  </p>
  <% if view.click %>
    <p><b>Click data</b></p>
    <div>
      X position: <%= view.x_pos %>
    </div>
    <div>
      Y position: <%= view.y_pos %>
    </div>
    <div>
      Screen width: <%= view.screen_width %>
    </div>
    <div>
      Screen height: <%= view.screen_height %>
    </div>
    <div>
      Device pixel ratio: <%= view.device_pixel_ratio %>
    </div>
    <% if view.current_url.present? %>
      <div>
        <% shortened_url = view.current_url.gsub(root_url, "") + "..." %>
        Current URL: <%= link_to shortened_url, view.current_url, class: :white_link %>
      </div>
    <% end %>
    <div>
      Controller name: <%= view.controller_name %>
    </div>
    <div>
      Action name: <%= view.action_name %>
    </div>
  <% elsif view.post_id %>
    <p>
      <%= link_to "Post #{view.post_id}", show_post_path(Post.find(view.post_id).unique_token), class: :white_link  %>
    </p>
  <% elsif view.comment_id %>
    <p>
      <%= link_to "Comment #{view.comment_id}", comment_path(view.comment_id), class: :white_link  %>
    </p>
  <% elsif view.group_id %>
    <p>
      <%= link_to "Group #{Group.find(view.group_id).name}",
        group_path(Group.find(view.group_id).unique_token), class: :white_link  %>
    </p>
  <% elsif view.profile_id %>
    <p>
      <%= link_to "User profile #{User.find(view.profile_id).name}",
        (view.user_id ? user_path(view.user_id) : search_path(query: view.anon_token)), class: :white_link  %>
    </p>
  <% elsif view.proposal_id %>
    <p>
      <%= link_to "Proposal #{view.proposal_id}",
        show_proposal_path(Proposal.find(view.proposal_id).unique_token), class: :white_link  %>
    </p>
  <% end %>
</div>
