<% if post.group.nil? or group_auth post.group or group_member_auth post.group %>
  <div class="card" id="post_card_<%= post.id %>">
    <%= render "users/avatar_card_link", user: post.user, token: post.anon_token %>
    <% if post.group %>
      <span class="posted_to_group_label">
        posted to <%= link_to post.group.name, post.group, class: :posted_to_group_link,
          title: "Group (#{post.group.name})" %>
      </span>
    <% end %>

    <div align="center">
      <% if post.image.url %>
        <p>
          <% unless @post_shown %>
            <%= link_to post do %>
              <%= image_tag post.image, class: :standard_post_image %>
            <% end %>
          <% else %>
            <%= image_tag post.image, class: :standard_post_image %>
          <% end %>
        </p>
      <% end %>

      <% if post.body.present? %>
	      <p class="standard_body" class="<%= justified_body post %>" id="post_body_text_<%= post.id %>">
          <%= render "app/body", item: post %>
		    </p>
		  <% end %>
    </div>
		
	  <div id="post_comments_anchor_<%= post.id %>"></div>

    <%= render "app/time_ago", item: post %>
    
    <%= link_to "Comments#{ ' ' + post.comments.size.to_s unless post.comments.size.zero? }",
      (@post_shown ? @post : toggle_comments_path(post)), remote: true, class: :bottom_right_link %>
    
    <div class="mini_dropdown_menu" hidden>
      <%= link_to 'Edit', edit_post_path(post) if own_item? post or dev? %>
    </div>
    
    <div id="like_post_link_anchor_<%= post.id %>"></div>
    <%= render "likes/link", item: post %>
  </div>

  <% if settings(post.user)[:post_bg_fader_on] %>
    <script>
      <%= render "app/fader.js", target: "post_card", target_id: post.id, background: true, slow: true %>
    </script>
  <% elsif settings(post.user)[:post_bg_color].present? %>
    <script>
      <%= render "posts/bg_color.js", post: post %>
    </script>
  <% end %>

  <% if settings(post.user)[:post_txt_fader_on] %>
    <script>
      <%= render "app/fader.js", target: "post_body_text", target_id: post.id %>
    </script>
  <% elsif settings(post.user)[:post_txt_color].present? %>
    <script>
      <%= render "posts/txt_color.js", post: post %>
    </script>
  <% end %>
<% end %>
