<div class="card">
  <div class="card_corner_cut_out"></div>
  <% if post.anon_token.present? %>
    <%= render "users/anon_avatar", token: post.anon_token, position: :token_card_link %>
  <% elsif post.user_id %>
    <%= link_to user_path(post.user), class: :user_avatar_link do %>
      <%= image_tag post.user.image, class: :avatar_container %>
    <% end %>
  <% end %>
  
  <div align="center">
    <% if post.image.url %>
      <% unless @post_shown %>
        <%= link_to post do %>
          <%= image_tag post.image, class: :standard_image %>
        <% end %>
      <% else %>
        <%= image_tag post.image, class: :standard_image %>
      <% end %>
    <% end %>
    
    <p class="standard_body"><%= post.body %></p>
  </div>
  
  <%= link_to 'Show', post, class: :top_right_link %>
  <%= link_to 'Edit', edit_post_path(post), class: :bottom_right_link %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: :bottom_left_link %>
</div>


