<div class="card">
  <%= render "users/avatar_card_link", user: post.user, token: post.anon_token %>
  <% if post.group %>
    <span class="posted_to_group_label">
      posted to <%= link_to post.group.name, post.group, class: :posted_to_group_link,
        title: "Group (#{post.group.name})" %>
    </span>
  <% end %>

  <div align="center">
    <% if post.image.url %>
      <p>
        <% unless @post_shown %>
          <%= link_to post do %>
            <%= image_tag post.image, class: :standard_post_image %>
          <% end %>
        <% else %>
          <%= image_tag post.image, class: :standard_post_image %>
        <% end %>
      </p>
    <% end %>

    <% if post.body.present? %>
	    <p class="standard_body" class="<%= justified_body post %>">
        <%= render "app/body", item: post %>
		  </p>
		<% end %>
  </div>
		
	<div id="post_comments_anchor_<%= post.id %>"></div>

  <%= render "app/time_ago", item: post %>
  
  <%= link_to "Comments#{ ' ' + post.comments.size.to_s unless post.comments.size.zero? }",
    (@post_shown ? @post : toggle_comments_path(post)), remote: true, class: :bottom_right_link %>
  
  <%= link_to 'Edit', edit_post_path(post), class: :bottom_left_link if own_item? post or dev? %>
</div>
