<div class="card">
  <%= render "users/avatar_card_link", user: post.user, token: post.anon_token %>

  <div align="center">
    <% if post.image.url %>
      <p>
        <% unless @post_shown %>
          <%= link_to post do %>
            <%= image_tag post.image, class: :standard_post_image %>
          <% end %>
        <% else %>
          <%= image_tag post.image, class: :standard_post_image %>
        <% end %>
      </p>
    <% end %>

    <% if post.body.present? %>
	    <p class="standard_body" class="<%= 'justified_body_text' if post.body.size > 150 %>">
        <%= render "app/body", item: post %>
		  </p>
		<% end %>
  </div>

  <%= render "app/time_ago", item: post %>
  
  <%= link_to "Comments#{ ' ' + post.comments.size.to_s unless post.comments.size.zero? }",
    post, class: :bottom_right_link %>
  
  <% if (anon_token and anon_token.eql? post.anon_token) \
    or (current_user and post.user_id.eql? current_user.id) %>
    <%= link_to 'Edit', edit_post_path(post), class: :bottom_left_link %>
  <% end %>
</div>
