<div id="new_post_form">
  <%= form_for(@post, remote: (!@editing)) do |f| %>
    <div align="center">
      <%= hidden_field_tag :group_id, @group.id if @group %>
      <%= hidden_field_tag :un_invited, true if @invite_only_page %>
	    
	    <script><%= render 'posts/group_select_change.js' %></script>
      
      <% if @editing and @post.pictures.present? %>
        <% for picture in @post.pictures %>
          <% if picture.image.url %>
            <div id="post_picture_<%= picture.id %>">
              <%= image_tag picture.image, class: :standard_post_image %>
              <%= link_to "Remove", remove_post_picture_path(picture), method: :delete, remote: true,
                class: "remove_post_picture_link white_link", title: "Click to remove this picture from the set",
                data: { confirm: "Are you sure you?" } %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= f.text_area :body, value: (@post.body.present? ? @post.body : ""),
        placeholder: (@invite_only_page ? "Post something anonymously..." : "Post something awesome..."),
        class: :dark_text_area %>
            
      <%= link_to add_post_image_path, remote: true, id: :add_image_icon_link, title: "Attach an image" do %>
        <i class="fa fa-picture-o fa-2x dark_link"></i>
      <% end %>
      
      <%= link_to add_post_video_path, remote: true, id: :add_video_icon_link, title: "Attach a video" do %>
        <i class="fa fa-film fa-2x dark_link"></i>
      <% end %>
      
      <% if Rails.env.development? %>
        <%= link_to add_post_audio_path, remote: true, id: :add_audio_icon_link, title: "Attach an audio file" do %>
          <i class="fa fa-file-audio-o fa-2x dark_link" aria-hidden="true"></i>
        <% end %>
      <% end %>
      
      <div id="hidden_file_field" align="left" hidden>
        <p>
          <%= f.file_field :pictures, multiple: true, name: "pictures[image][]" %>
        </p>
      </div>
      
      <div id="hidden_video_field" hidden>
        <p>
          Video <%= f.file_field :video %>
        </p>
      </div>
      
      <div id="hidden_audio_field" hidden>
        <p>
          Audio <%= f.file_field :audio %>
        </p>
        <%= f.text_field :audio_name, placeholder: "Audio title (optional)", class: :dark_text_field %>
      </div>
      
      <% if current_user and current_user.my_groups.present? and @editing and @post.group_id %>
        <p>
          Currently shared to <%= @post.group.name %>
        </p>
        <p>
          <%= select_tag :group_id, options_for_select(my_group_options({editing: true})) %>
        </p>
      <% elsif current_user and current_user.my_groups.present? and not @group %>
        <%= link_to add_post_group_id_path, remote: true, id: :add_group_id_icon_link, title: "Post to a group" do %>
          <i class="fa fa-cubes fa-2x dark_link"></i>
        <% end %>
        <p id="hidden_group_id_field" hidden align="center">
          <%= select_tag :group_id, options_for_select(my_group_options) %>
        </p>
      <% end %>

      <p>
        <% form_button_id = rand 1000 %>
        <button type="submit" name="commit" class="dark_form_button" id="post_form_button_<%= form_button_id %>">
          <b><%= @post.id.nil? ? "Post" : "Save" %> <i class="fa fa-pencil"></i></b>
        </button>
      </p></br>
      
      <script>
        var button_<%= form_button_id %> = $("#post_form_button_<%= form_button_id %>");
        button_<%= form_button_id %>.click(function(){
          button_<%= form_button_id %>.text("Loading...");
          <%= render "app/fader.js", target: "post_form_button", target_id: form_button_id, fast: true %>
          
          $(".load_element").fadeIn(2000);
        });
      </script>
    </div>
  <% end %>
</div> <!-- reg post form end -->

<% if current_user and (current_user.has_power?('anarchy') or cookies[:anrcho]) and not @editing %>
  <%= link_to add_proposal_form_path(group_id: @group ? @group.id : nil), remote: true, title: "Make a motion",
    class: "dark_link bottom_left_link", id: :add_proposal_form_link do %>
    Make a motion...
  <% end %>
<% end %>
