<div id="new_post_form">
  <%= form_for(@post, id: :post_form) do |f| %>
    <div align="center">
      <%= hidden_field_tag :group_id, @group.id if @group %>
      <%= hidden_field_tag :from_profile, true if current_user and current_user.eql? @user %>
      <%= hidden_field_tag :un_invited, true if @invite_only_page %>

	    <script><%= render 'posts/group_select_change.js' %></script>

      <% if @editing and @post.pictures.present? %>
        <%= render "posts/form_photoset" %>
        <i id="form_photoset_anchor"></i>
      <% end %>

      <%= f.text_area :body, value: (@post.body.present? ? @post.body : ""),
        placeholder: (@invite_only_page ? "Post something anonymously..." : "Post something awesome..."),
        class: :dark_text_area, id: :post_form_text_area %>

      <%= link_to add_post_image_path, remote: true, id: :add_image_icon_link, title: "Attach an image" do %>
        <i class="fa fa-picture-o fa-2x dark_link"></i>
      <% end %>

      <%= link_to add_post_video_path, remote: true, id: :add_video_icon_link, title: "Attach a video" do %>
        <i class="fa fa-film fa-2x dark_link"></i>
      <% end %>

      <% if Rails.env.development? %>
        <%= link_to add_post_audio_path, remote: true, id: :add_audio_icon_link, title: "Attach an audio file" do %>
          <i class="fa fa-play fa-2x dark_link" aria-hidden="true"></i>
        <% end %>
      <% end %>

      <div id="hidden_file_field" align="left" hidden>
        <p>
          <%= f.file_field :pictures, multiple: true, name: "pictures[image][]" %>
        </p>
      </div>

      <div id="hidden_video_field" hidden>
        <p>
          Video <%= f.file_field :video %>
        </p>
      </div>

      <div id="hidden_audio_field" hidden>
        <p>
          Audio <%= f.file_field :audio %>
        </p>
        <%= f.text_field :audio_name, placeholder: "Audio title (optional)", class: :dark_text_field %>
      </div>

      <% if current_user and current_user.my_groups.present? and @editing and @post.group_id %>
        <p>
          Currently shared to <%= @post.group.name %>
        </p>
        <p>
          <%= select_tag :group_id, options_for_select(my_group_options({editing: true})) %>
        </p>
      <% elsif current_user and current_user.my_groups.present? and not @group %>
        <%= link_to add_post_group_id_path, remote: true, title: "Post to a group",
          id: :"#{Rails.env.development? ? 'add_group_id_icon_link' : 'add_audio_icon_link'}" do %>
          <i class="fa fa-cubes fa-2x dark_link"></i>
        <% end %>
        <p id="hidden_group_id_field" hidden align="center">
          <%= select_tag :group_id, options_for_select(my_group_options) %>
        </p>
      <% end %>

      <p>
        <% form_button_id = rand 1000 %>
        <button type="submit" name="commit" class="dark_form_button post_form_button" id="post_form_button_<%= form_button_id %>">
          <b><%= @post.id.nil? ? "Post" : "Save" %> <i class="fa fa-pencil"></i></b>
        </button>
      </p></br>
    </div>
  <% end %>
  <%= render "posts/leave_page?.js" if false %>
</div> <!-- reg post form end -->

<% if current_user and (current_user.has_power?('anarchy') or cookies[:anrcho] \
  or (@group and @group.social_structure.eql?('consensus'))) and not @editing %>
  <table class="bottom_left_link dark_txt">
    <tr>
      <td>
        <%= link_to add_proposal_form_path(group_id: @group ? @group.id : nil),
          remote: true, title: "Make a motion", class: "dark_link standard_post_link" do %>
          Make a motion
        <% end %>
      </td>
      <% unless anrcho? %>
        <td>
          ·
        </td>
        <td>
          <%= link_to "Go to Anrcho", to_anrcho_portal_url, class: "dark_link standard_post_link" %>
        </td>
      <% end %>
    </tr>
  </table>
<% end %>
