<div class="card">
  <%= form_for(@post) do |f| %>
    <div align="center">
      <%= hidden_field_tag :group_id, @group.id if @group %>
      
      <% if @editing and @post.image.url %>
        <p><%= image_tag @post.image, class: :standard_post_image %></p>
      <% end %>

      <%= f.text_area :body, value: (@post.body.present? ? @post.body : ""), placeholder: "Post something cool..." %>

		  <%= link_to add_post_image_path, remote: true, id: :add_image_icon_link, title: "Attach an image" do %>
			  <i class="fa fa-picture-o fa-2x"></i>
		  <% end %>
		  
		  <p id="hidden_file_field" hidden>
		    <%= f.file_field :pictures, multiple: true, name: "pictures[image][]" %>
		  </p>

      <p>
	      <button type="submit" name="commit" id="new_post_form_button">
	        <b><%= @post.id.nil? ? "Post" : "Save" %> <i class="fa fa-pencil"></i></b>
	      </button>
	    </p></br>
    </div>
  <% end %>
</div>
