<%= form_for(@post) do |f| %>
  <div align="center">
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= f.text_area :body, placeholder: "Yo dawg, post something cool..." %>
    </div>
    <div class="actions">
      <%= f.submit "Post" %>
    </div>
  </div>
<% end %>
