<% if @likes.present? %>
  <div class="dark_card">
    <script>
      <%= render "app/fader.js", target: "liked_by_text", target_id: "0" %>
    </script>
    <div align="center" id="liked_by_text_0">
      Liked by:
        <% user_likes = @likes.where.not(user_id: nil); anon_likes = @likes.where.not(anon_token: nil) %>
        <% for like in user_likes %>
          <%= link_to like.user.name, like.user, class: :white_link if like.user %><%= ", " \
            unless like.eql? user_likes.last %>
        <% end %>
        <%= "and" if user_likes.present? and anon_likes.present? %>
        <%= "#{anon_likes.size} anon(s)" if anon_likes.present? %>
    </div>
  </div>
<% end %>

<% if @views.present? and (current_user and current_user.has_power? 'see_views' or dev? or @proposal) %>
  <div class="dark_card">
    <script>
      <%= render "app/fader.js", target: "seen_by_text", target_id: "0" %>
    </script>
    <div align="center" id="seen_by_text_0">
      Seen by:
        <% user_views = @views.where.not(user_id: nil); anon_views = @views.where.not(anon_token: nil) %>
        <% for view in user_views %>
          <%= link_to view.user.name, view.user, class: :white_link if view.user %><%= ", " \
            unless view.eql? user_views.last %>
        <% end %>
        <%= "and" if user_views.present? and anon_views.present? %>
        <%= "#{anon_views.size} anon(s)" if anon_views.present? %>
        <i class="fa fa-eye"></i>
    </div>
  </div>
<% end %>
