<% if @likes.present? %>
  <div class="dark_card">
    <script>
      <%= render "app/fader.js", target: "liked_by_text", target_id: "0" %>
    </script>
    <div align="center" id="liked_by_text_0">
      Likes:
        <% user_likes = @likes.where.not(user_id: nil); anon_likes = @likes.where.not(anon_token: nil) %>
        <% for like in user_likes %>
          <%= link_to like.user.name, like.user, class: :dark_link if like.user %><%= ", " \
            unless like.eql? user_likes.last %>
        <% end %>
        <%= "and" if user_likes.present? and anon_likes.present? %>
        <%= "#{anon_likes.size} anon(s)" if anon_likes.present? %>
        <%= image_tag "nooice.gif", class: :nooice_img %>
    </div>
  </div>
<% end %>

<% if @loves.present? %>
  <div class="dark_card">
    <script>
      <%= render "app/fader.js", target: "loved_by_text", target_id: "0" %>
    </script>
    <div align="center" id="loved_by_text_0">
      Loved by:
        <% user_loves = @loves.where.not(user_id: nil) %>
        <% for love in user_loves %>
          <%= link_to love.user.name, love.user, class: :dark_link if love.user %><%= ", " \
            unless love.eql? user_loves.last %>
        <% end %>
        <i class="fa fa-heart-o"></i>
    </div>
  </div>
<% end %>

<% if @whoas.present? %>
  <div class="dark_card">
    <script>
      <%= render "app/fader.js", target: "whoad_by_text", target_id: "0" %>
    </script>
    <div align="center" id="whoad_by_text_0">
      Whoa'd by:
        <% user_whoas = @whoas.where.not(user_id: nil) %>
        <% for whoa in user_whoas %>
          <%= link_to whoa.user.name, whoa.user, class: :dark_link if whoa.user %><%= ", " \
            unless whoa.eql? user_whoas.last %>
        <% end %>
        <i class="fa fa-grav"></i>
    </div>
  </div>
<% end %>

<% if @shares.present? %>
  <div class="dark_card">
    <script>
      <%= render "app/fader.js", target: "shared_by_text", target_id: "0" %>
    </script>
    <div align="center" id="shared_by_text_0">
      Shared by:
        <% user_shares = @shares.where.not(user_id: nil); anon_shares = @shares.where.not(anon_token: nil) %>
        <% for share in user_shares %>
          <%= link_to share.user.name, share.user, class: :dark_link if share.user %><%= ", " \
            unless share.eql? user_shares.last %>
        <% end %>
        <%= "and" if user_shares.present? and anon_shares.present? %>
        <%= "#{anon_shares.size} anon(s)" if anon_shares.present? %>
        <i class="fa fa-retweet"></i>
    </div>
  </div>
<% end %>

<% if @views.present? and (current_user and current_user.has_power? 'see_views' or dev? or @proposal) %>
  <div class="dark_card">
    <script>
      <%= render "app/fader.js", target: "seen_by_text", target_id: "0" %>
    </script>
    <div align="center" id="seen_by_text_0">
      Seen by:
        <% user_views = @views - View.where(user_id: nil); anon_views = @views - View.where(anon_token: nil) %>
        <% for view in user_views %>
          <%= link_to view.user.name, view.user, class: :dark_link, title: "Locale: " + view.locale.to_s if view.user %>
          <%= ", " unless view.eql? user_views.last %>
        <% end %>
        <%= "and" if user_views.present? and anon_views.present? %>
        <% anon_view_locales = "Locales: "; anon_views.each { |v| anon_view_locales << v.locale.to_s + " ... " } %>
        <%= content_tag :span, "#{anon_views.size} anon(s)", title: anon_view_locales if anon_views.present? %>
        <i class="fa fa-eye"></i>
    </div>
  </div>
<% end %>
