<div class="post_mini_menu" id="post_mini_menu_<%= post.id %>">
  <% if own_item? post or dev? %>
    <%= link_to 'Edit', edit_post_path(post), class: :post_mini_menu_link %>
    <%= link_to "Delete", destroy_post_path(token: @post.unique_token, ajax_req: true),
      method: :delete, remote: true, class: :post_mini_menu_link,
      data: { confirm: "Are you sure you want to permanently delete this post?" } %>
  <% end %>

  <% confirm = { confirm: "Are you sure you want to #{post.featured ? 'unf' : 'f'}eature this post?" } if in_dev? %>
  <%= link_to "#{post.featured ? 'Unf' : 'F'}eature", feature_post_path(post), method: :put, remote: true, class: :post_mini_menu_link, data: confirm if dev? %>

  <%= link_to 'Classify',
    classify_picture_path(post.unique_token),
    remote: true, class: :post_mini_menu_link,
    data: { confirm: "Are you sure you want to classify this image?" } \
    if in_dev? and dev? and @post.pictures.present? %>

  <%= link_to 'Hide', hide_post_path(post),
    method: :put, remote: true, class: :post_mini_menu_link,
    data: { confirm: "Are you sure you want to hide this post?" } if dev? and not post.hidden %>

  <%= link_to 'Goto', show_post_goto_path(post), remote: true, class: :post_mini_menu_link if dev? and @at_page_load %>
</div>
