<% if forrest_only_club? %>
  <div class="dark_card">
    <h2 class="user_title">
      Forrest Only Club
    </h2>
  </div>
<% end %>

<div class="dark_card">
  <%= render "posts/form" %>
  <%= render "app/right_pane" %>
</div>

<%= render "posts/main_feed_container" %>

<%= audio_tag "effects/magic.wav", id: "zen_sound" %>
<%= audio_tag "effects/bip.mp3", id: "post_interface_sound" %>
