<script>
  <%= render "posts/infinite_scroll.js" %>
  <%= render "app/fader.js", target: "logo_header_", target_id: "0" %>
</script>

<div align="center" class="standard_logo_header" id="logo_header_0">Simplr</div>

<p id="notice"><%= notice %></p>

<div class="card">
  <%= render "posts/form" %>
</div>

<div id="feed_container_anchor"></div>
<%= render "posts/feed_container" %>

<% if @items.empty? %>
  <div class="card">
    <p align="center">
      There aren't any posts yet.
    </p>
  </div>
<% end %>
