<% if @post.group.present? and invited? or current_user %>
  <%= render "app/lineage", line: { group: @post.group, post: @post } %>
<% end %>

<%= render "posts/card", post: @post %>

<%= render "posts/liked_and_viewed_by" %>

<% if invited? or current_user %>
  <% for comment in @comments %>
    <%= render "comments/card", comment: comment %>
  <% end %>
  <%= render "comments/form" %>
<% else %>
  <div class="dark_card" align="center">
    <p>
      You've stumbled across a small village in cyberspace... To enter Social Maya, you need to find a Portal.
    </p>
  </div>
<% end %>
