<%= form_tag create_treasure_path, method: :post do %>
  <!-- enchanted objects, so illusive in secretive grandiosity -->
  <!-- to a land of absolute treasure, where gold and gems abound in never ending abundance -->
  <!-- Master of Secrets, Game Makers, Engineers of Fun and Joy, we bid you the tools of your own genesis -->
  <p>
    Create secret treasures as a Master of Secrets
  </p>
  <p>
    <%= text_field_tag :power, nil, placeholder: "Power to unlock" %>
  </p>
  <p>
    <%= text_field_tag :loot, nil, placeholder: "Loot to be collected" %>
  </p>
  <p>
    <%= select_tag :xp, options_for_select([["Experience to be gained", nil], 0, 25, 50, 100, 500, 1000]) %>
  </p>
  <p>
    <%= select_tag :chance, options_for_select([["Chance of power", nil], ["0%", 0.0], ["50%", 0.5], ["100%", 1.0]]) %>
  </p>
  <p>
    <button type="submit" name="commit" id="generate_invite_button">
      <b>Create secret treasure <i class="fa fa-diamond"></i></b>
    </button>
  </p>
<% end %>
