

<div class="dark_card" align="center">
  <table>
    <tr>
      <td>
        <%= text_field_tag :kopi, @kopi, placeholder: "Kopi sacred text from here...",
          id: :kopi_field, class: :kopimi_field %>
      </td>
      <td>
        <%= link_to "kopi", kopi_path, remote: true, class: :white_link %>
      </td>
    </tr>
  </table>
  
  <%= text_field_tag :pasta, @pasta, placeholder: "Paste sacred text here...", id: :pasta_field, class: :dark_text_field %>
  <script>
  <%= render "treasures/pasta_listen.js" %>
</script>

  <table>
    <tr>
      <td>
        <%= text_field_tag :remix, @remix, placeholder: "Remix sacred text here...",
          id: :remix_field, class: :kopimi_field %>
      </td>
      <td>
        <%= link_to "remix", remix_path, remote: true, class: :white_link %>
      </td>
    </tr>
  </table>
  
  <%= form_tag new_kopi_share_path, method: :get do |f| %>
	  <table id="new_kopi_share_form_table">
		  <tr>
			  <td>
				  <%= text_field_tag :kopi_share, @kopi_share,
				    placeholder: "Share your sacred kopi pasta remix text here...", class: :kopimi_field %>
			  </td>
			  <td>
			    <button type="submit" name="commit">
			      <i class="fa fa-share"></i>
			    </button>
			  </td>
		  </tr>
	  </table>
  <% end %>
</div>
