<script>
  <%= render "app/fader.js", target: "load_bars_header", target_id: "" %>
</script>

<h2 class="standard_page_header" id="load_bars_header">Loading bars by Forrest Wilkins <i class="fa fa-tasks"></i></h2>

<div class="dark_card" align="center" style="background:black;min-height:105px;">
  <%= render "pages/sparkles" %>
</div>

<div class="dark_card" align="center" style="background:black;">
  <p>
    <%= render "pages/load_band" %>
  </p>
  <p>
    <%= render "pages/load_circle" %>
  </p>
  <p>
    <%= render "pages/buffer_wheel", items: [], all_items: [] %>
  </p>
  <p>
    <%= render "pages/load_wheel" %>
  </p>
  <p>
    <%= render "pages/load_bar", items: [], all_items: [] %>
  </p>
</div>
