<div class="loot_container" align="center">
  <% if @treasure.treasure_type.eql? 'game' %>
    <%= render "treasures/div_game", treasure: @treasure %>
  <% elsif @treasure.treasure_type.eql? 'hype' %>
    <%= render "treasures/hype_screen" %>
  <% else %>
    <%= link_to loot_treasure_path(@treasure.unique_token),
      method: :post, remote: true, title: "#{@treasure.name}" do %>
      <% if kanye? %>
        <%= render "treasures/kanye" %>
      <% elsif @treasure.image.url %>
        <%= image_tag @treasure.image, class: :loot_image %>
      <% else %>
	      <script>
	        <%= render "app/fader.js", target: "treasure_icon", target_id: @treasure.id %>
	      </script>
        <i id="treasure_icon_<%= @treasure.id %>" class="fa fa-diamond fa-5x loot_icon_substitute"></i>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @treasure.body.present? and not @treasure.treasure_type.eql? 'kanye' %>
  <div class="treasure_challenge_form" id="challenge_form_<%= @treasure.id %>" align="center">
    <p class="treasure_body" class="<%= 'justified_body_text' if @treasure.body.size > 150 %>">
      <%= render "app/body", item: @treasure %>
    </p>
    <%= render "treasures/challenge_form", treasure: @treasure %>
  </div>
<% end %>
