<!DOCTYPE html>
<html>
  <head>
    <title><%= get_site_title %><%= " — Kristin <3" if @kristin %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <% if anrcho? %>
      <%= favicon_link_tag "favicons/anrcho.ico" %>
    <% elsif request.host.eql? "forrestonlyclub.com" %>
      <%= favicon_link_tag "favicons/foc.ico" %>
    <% elsif request.host.eql? "forrestwilkins.com" %>
      <%= favicon_link_tag "favicons/glitch_om.ico" %>
    <% else %>
      <% if invited? or current_user %>
        <%= favicon_link_tag "favicons/bust.ico" %>
      <% else %>
        <%= favicon_link_tag "favicons/social_maya.ico" %>
      <% end %>
    <% end %>
    
	  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	  
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    
  </head>
  <body>
    <%= render "app/header" if invited? or anrcho? %>
    <%= yield %>
    <%= render "app/footer" %>
  </body>
</html>
