<!DOCTYPE html>
<html>
  <head>
    <title><%= current_title %></title>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- fullcalendar resources -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" />

    <%= csrf_meta_tags %>

    <%= favicon_link_tag "favicons/#{get_site_ico}.ico" %>

    <%= render "app/meta_tags" %>

	  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">


    <%= stylesheet_link_tag 'semantic_ui_style' %>

    <style>
      .landing_image {
          background-image: url('images/story/coverphoto.jpg') !important;
          background-size: cover !important;
      }
    </style>
  </head>
  <body>
    <script>
      $(document)
        .ready(function() {

          // fix menu when passed
          $('.masthead')
            .visibility({
              once: false,
              onBottomPassed: function() {
                $('.fixed.menu').transition('fade in');
              },
              onBottomPassedReverse: function() {
                $('.fixed.menu').transition('fade out');
              }
            })
          ;

          // create sidebar and attach to menu open
          $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
          ;

        })
      ;
    </script>
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <%= link_to "Home", bigger_bucks_path, class: "active item" %>
        <a class="item">About</a>
        <a class="item">Schedule</a>
        <%= link_to "Calendar", bigger_bucks_path, class: :item %>
        <%= link_to "Pricing", bigger_bucks_path, class: :item %>
        <div class="right menu">
          <div class="item">
            <% unless current_user %>
              <%= link_to "Sign in", bigger_bucks_login_path, class: "ui button" %>
            <% else %>
              <%= link_to current_user.name.capitalize, bigger_bucks_login_path, class: "ui button" %>
            <% end %>
          </div>
          <div class="item">
            <a class="ui primary button">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
      <%= link_to "Home", bigger_bucks_path, class: :item %>
      <a class="item">About</a>
      <a class="item">Schedule</a>
      <%= link_to "Calendar", bigger_bucks_path, class: :item %>
        <%= link_to "Pricing", bigger_bucks_path, class: :item %>
      <%= render "templates/loginout" %>
      <a class="item">Register</a>
    </div>

    <!-- Page Contents -->
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment landing_image">
        <div class="ui container">
          <div class="ui large secondary pointing menu">
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <%= link_to "Home", bigger_bucks_path, class: "active item" %>
            <a class="item">About</a>
            <a class="item">Schedule</a>
            <%= link_to "Calendar", bigger_bucks_path, class: :item %>
            <%= link_to "Pricing", bigger_bucks_path, class: :item %>
          </div>
        </div>
        <div class="ui text container">
          <h1 class="ui inverted header site_title">
            Story Bigger Bucks
          </h1>
          <h2><%= item_with_link "slogan" %></h2>
          </br>
          <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        </div>
      </div>

      <%= yield %>

      <div class="ui inverted vertical footer segment">
        <div class="ui container">
          <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
              <h4 class="ui inverted header">About</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">Sitemap</a>
                <a href="#" class="item">Contact Us</a>
                <a href="#" class="item">Music Lessons</a>
                <a href="#" class="item">Future Plans</a>
              </div>
            </div>
            <div class="three wide column">
              <h4 class="ui inverted header">Services</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">Item Pre-Order</a>
                <a href="#" class="item">Favorite Moments</a>
                <a href="#" class="item">How To Access</a>
                <%= render "templates/loginout" %>
              </div>
            </div>
            <div class="seven wide column">
              <h4 class="ui inverted header">Social Media</h4>
              <div class="ui inverted link list">
                <a href="https://www.facebook.com/rodrikus.bodrick" class="item"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> Facebook</a>
                <a href="https://twitter.com/hottrodflamnscc" class="item"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i> Twitter</a>
                <a href="https://www.instagram.com/rodrikusbodrick7" class="item"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i> Instagram</a>
                <a href="https://plus.google.com/114575722080027647968" class="item"><i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i> Google+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
